<div style="margin:20px 0;">
  Filter Student <input ng-model="search"> 
  <button ng-if="!addMarksFlag && publishEnable && remainingLength == 0 && exam.verify_result && exam.verify_absenty" class="btn btn-primary" ng-click="publishAbsenty()">
    Publish Absenty
  </button>
  <button class="btn btn-primary" ng-if="!isVerifyAbsenty" ng-click="verifyAbsenty();">
    Verify Absenty
  </button>
  <span ng-if="absentyChangeFlag">
    <button class="btn btn-primary" ng-click="saveAbsenty()">Save</button>
  </span>
  
  <div ng-if="!addMarksFlag">
    <h2>Students</h2>
    <table st-table="rowCollection" class="table organisationCoursesTable">
      <thead>
	<tr>
	  <th st-sort="firstName">Index</th>
	  <th st-sort="lastName">student</th>
	  <th st-sort="birthDate">p_mobile</th>
	  <th st-sort="balance">Add Absenty</th>	
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in dtpCatlogs| filter:search | remainingClassStudents">
	  <td>{{$index + 1}}</td>
	  <td>{{row.name}}</td>
	  <td>{{row.p_mobile}}</td>
	  <td>
	    <button class="btn btn-primary" ng-click="absentStudent(row);">add Absent</button>
	  </td>
	</tr>
      </tbody>
    </table>
    

    <h2>Absent Students</h2>
    <table st-table="rowCollection" class="table organisationCoursesTable">
      <thead>
	<tr>
	  <th st-sort="firstName">Index</th>
	  <th st-sort="lastName">student</th>
	  <th st-sort="birthDate">p_mobile</th>
	  <th st-sort="balance">Remove from absenty</th>	
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in dtpCatlogs| filter:search | absentClassStudents">
	  <td>{{$index + 1}}</td>
	  <td>{{row.student}}</td>
	  <td>{{row.p_mobile}}</td>
	  <td>
	    <button class="btn btn-link" ng-click="removeAbsent(row);" ng-if="!row.sms_sent"> Remove</button>
	  </td>
	</tr>
      </tbody>
    </table>
  </div>
</div>
