<div style="margin:20px 0;">
  <div request-loading is-loading="requestLoading"></div>
  <div class="col-sm-12">
    <div class="pull-left">
      Rocords - {{totalDtps}}
    </div>
    <div class="pull-right">
      <div class="positionRelative marginR5" style="display: inline-block;">
	<input date-range-picker id="rangeCalender" class="form-control date-picker calender pointer" type="text" ng-model="filterDtp.dateRange" style="width:230px;display:inline;" placeholder="Enter date range" onkeypress="return false" options="{autoApply: true}" readonly/>
	<label for="rangeCalender" class="rangeCalender pointer"><i class="fa fa-calendar marginT10"></i></label>
      </div>
      <select class="form-control ng-touched filterSelectRecord marginR5" ng-model="filterDtp.subject" ng-options="subject.id as subject.name for subject in subjects">
	<option value="" >All subjects</option>
      </select>
      <button class="btn btn-primary" ng-click="pageChanged(1);" uib-tooltip="Filter"><i class="fa fa-filter" ></i></button>
      <button class="btn btn-primary" ng-click="resetFilter();" uib-tooltip="Reset"><i class="fa fa-refresh"></i></button>
    </div>
  </div>
  <figure class="col-sm-12" ng-show="!requestLoading" ng-if="dtps.length === 0">
    <h4 class="text-danger">No records found</h4>
  </figure>
  <figure class="col-sm-12" ng-show="!requestLoading" ng-if="dtps.length > 0">
    <table st-table="rowCollection" class="table dailyTeachesTable table-striped">
      <thead>
	<tr>
	  <th st-sort="firstName">Subject</th>
	  <th st-sort="lastName">Date</th>
	  <th st-sort="birthDate">Chapter</th>
	  <th st-sort="balance">Points</th>	
	  <th st-sort="balance">Absents</th>
	  <th st-sort="balance">Action</th>
	</tr>
      </thead>
      <tbody>
	<tr dir-paginate="row in dtps | itemsPerPage: 10" total-items="totalDtps" current-page="pagination.current" pagination-id="dtpPagination">
	  <td>{{row.subject}}</td>
	  <td>{{row.date}}</td>
	  <td>{{row.chapter}}</td>
	  <td>{{row.points}}</td>
	  <td>{{row.absents}}</td>
	  <td>
	    <span ng-if="row.self_organisation">
	      <a href="#/classes/{{classId}}/daily_catlogs/{{row.id}}/show", class="btn btn-primary">Show</a>
	    </span>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="text-center col-sm-12 padding0" pagination-id="dtpPagination"></dir-pagination-controls>
</div>

