$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0 0 65px;
}

input, select, option {
  font-family:Consolas, Lucida Console, monospace;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;  
}

/* Custom page header */
.header {
  //border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 53px;
  width: 100%;
  overflow:hidden;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  /*.btn {
    font-size: 21px;
    padding: 14px 24px;
  }*/
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}





.tab-content{
  min-height:200px;
}

.toggle-switch{
  min-width:140px;
  border-color: #2e6da4;
}

.toggle-switch span{
  line-height:25px;
}

.left{
  float:left;
}

.mLeft10{
  margin-left: 10px;
}

.mRight10{
  margin-right: 10px;
}

.toggle-switch .switch-left {
  background-color:#337ab7;
}

.round20 {
  border-radius:20px
}
.paddingTop5 {
  padding-top:5px;
}
.paddingTop10 {
  padding-top:10px;
}

.paddingTop15 {
  padding-top:15px;
}

.paddingTop20 {
  padding-top:20px;
}

.paddingTop25 {
  padding-top:25px;
}

.padding10 { 
  padding:10px;
}

.paddingB10 {
  padding-bottom:10px;
}

.remainingStudentsList > label {
  margin-bottom:6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: -webkit-box;
  line-height: 18px;
  width: 100%;
}

.assignStudentsList > label {
  margin-bottom:6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  line-height: 18px;
  display: -webkit-box;
}

.classExamsTable tr.created:hover{
  background: #E6AEAE;
}

.classExamsTable tr.verified{
  color: #035827; 
}

.classExamsTable tr.published{
  //background: #035827;
  //color:#FFF;
  color:#999;
}

.classExamsTable tr.over_due{
  //background: #960000;
  //color:#FFF;
  color:#960000;
}

.alert.alert-dismissible.alertIn {
  text-align:center;					
}


.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default {
  border: 0;
}


.border {
  border: 1px solid;
}
.timeSlot{
  height:30px;

  margin-top:1px;
  display: -webkit-box;
  text-align: -webkit-center;

  .slot2 {
    width:50%;
  }
  
  .slot3 {
    width:33%;
  }

  .slot1 {
    width:100%;
  }
  
  .slot4 {
    width:25%;
  }
  
  .slot5 {
    width:20%;
  }

  .slot6 {
    width:16.66%;
  }
  
  .slot7 {
    width:14.28%;
  }
  .height10 {
    height:15px;
  }
  .mTop10 {
    margin-top:15px;
  }
}

.textCenter {
  text-align: -webkit-center;
  text-align: center;
}

.padding0 {
  padding: 0;
}

.paddingR10 {
  padding-right: 10px;;
}

.marginT5 {
  margin-top: 5px;
}

.marginT10 {
  margin-top: 10px;
}

.marginT15 {
  margin-top: 15px;
}

.marginT20 {
  margin-top: 20px;
}

.marginT25 {
  margin-top: 25px;
}

.marginT30 {
  margin-top: 30px;
}

.marginR5 {
  margin-right: 5px;
}
.marginR10 {
  margin-right: 10px;
}
.marginB5 {
  margin-bottom: 5px;
}
.marginB10 {
  margin-bottom: 10px;
}
.marginB15 {
  margin-bottom: 15px;
}
.marginB20 {
  margin-bottom: 20px;
}
.marginB0 {
  margin-bottom: 0px;
}

.marginT0 {
  margin-top: 0px;
}

.margin0 {
  margin: 0;
}

.timeTableSubjects {
  margin: 10px 0;
  
  span {
    padding: 10px;
    margin: 0px 5px;
    border: 1px solid;
  }
}

.bg-red-danger {
  background :red;
  color: #FFF;
}

.bg-red-danger:hover {
  color: #ddd;
}

.bg-info-black, .bg-info-black:hover {
  background: #d9edf7;
  color: #000;
}

.paddingRight0 {
  padding-right: 0;
}


.organisationClass {
  height: 150px;
  padding:10px 5px;

  .wrapper{
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 1px solid red;
  }

  .rightMenu {
    float: right;
  }  
}
.organisationClass.active {
  .wrapper{
    border: 1px solid green;
  }  
}

.paddingLeft0 {
  padding-left:0;
}

.paddingLeft20 {
  padding-left: 20px;
}

.marginLeft10 {
  margin-left:10px;
}

.navbar-default .navbar-nav > li > a {
  outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.textRed {
  color: red;
}

.textWhite {
  color: #FFF;
}

.blueColor {
  color: rgb(42, 102, 158);
}

.lightText {
  opacity: 0.4;
}

.pagination > li > a, .pagination > li > span {
  outline: 0;
}

a:focus {
  outline: 0;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

.flashAlert {
  text-align:center;
  position: fixed;
  width: 100%;
  top: 0;
  opacity: 0.7;
  z-index: 1;
}

.flashTop {
  top: 53px;
}
 
.flashAlert > div {
  text-align:left;
  //padding: 10px 15px;
}

.alert-dismissable .close, .alert-dismissible .close {
  //right: -9px;
}


.standardOrganisationBtn{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.standardOrganisationBtn.bg-success {
  background-color: #dff0d8;
}

th.rotate {
  /* Something you can count on */
  height: 49px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(-4px, 21px)
    /* 45 is really 360 - 45 */
    rotate(279deg);
  width: 10px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
}

ul.padding5 {
  padding:5px;
  min-width: 180px;
  white-space: nowrap;
}

.highlight{
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.mTop15 {
  margin-top:15px;
}

.mTop20 {
  margin-top:20px;
}

span.dropdown > a.dropdown-toggle {
  color:#5F5F5F;
}

div.btn-group > a#simple-dropdown {
  color:#5F5F5F;
}

tr.noBorder {
  border-right: none !important;
  
  td {
    border-top: none !important;
  }
}

tr.pointer, td.pointer {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}


.btn-group:hover>.dropdown-menu {
  display: block;
}

.positionRelative {
  position: relative;
}

.rangeCalender {
  position: absolute;
  right:10px;
  top:0px;
}

.filterSelectRecord {
  width: 150px;
  display:inline-block;
}

.filterRight {
  float: right;
}

.filterRight.examFilter > div {
  width:100px;
  display: inline-block;
}

.fullWidth {
  width: 100%;
  display: inline-block;
}

.fixLayout {
  table-layout: fixed;
}

.editStudentBtn {
  display: none;
}

.studentPhoto:hover .editStudentBtn {
  display: block;
}

.bgWhite {
  background-color: #FFF;
}

.timeTableBorder{
  border: 1px solid;
  padding: 1px 6px;
  border-radius: 8px;
}
	
@media screen {
  #printSection {
    display: none;
  }
}

@media print {
  body * {
    visibility:hidden;
    -webkit-print-color-adjust: exact;
  }
  #printSection, #printSection * {
    visibility:visible;
  }
  
  
  
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
}

table.headerless {
  border: none;
  tbody {
    tr {
      border: none;
      th {
        border: none;
      }

      td.greyBackground {
        padding:0;

	div.hed {
	  background-color:#eee;
          background-image:url("img/666666.png");
          background-repeat:repeat;
          box-shadow: inset 0 0 0 1000px #eee;
          border:20px solid #eee;
          height:0;
          line-height:10px;
	}

	div.foo {
	  background-color:#eee;
          background-image:url("img/666666.png");
          background-repeat:repeat;
          box-shadow: inset 0 0 0 1000px #eee;
          border:solid #eee;
	  border-width: 20px 0px 20px 10px;
          height:0;
          line-height:0px;
	}
      }
    }
  }
}

.helpKeys{
  border: 1px solid #999;
  padding: 7px;
  display: inline-block;
  border-radius: 10px;
  margin-left: 5px;
  color: #777;
}

.helpBtn, .helpBtn:hover, .helpBtn:focus, .helpBtn:active, .helpBtn:active:focus{
  color: rgba(42, 102, 158, 0.84);
  position: absolute;
  top: 50px;
  right: 30px;
  border: 0px solid transparent;
  outline: none;
}

.buttonNoneBorder , .buttonNoneBorder:hover, .buttonNoneBorder:focus, .buttonNoneBorder:active, .buttonNoneBorder:active:focus{
  outline: none;
}

.helpQuestion .list-group-item {
  border: none;
  padding: 2px 10px;
}

.helpQuestion a {
  color: #777;
  font-size:15px;
}

input[type="radio"]{
  margin: 4px 4px 0;
}

.checkBoxStyle input[type="checkbox"], .checkBoxStyle input[type="radio"] {
  display:none;
}

.checkBoxStyle label {
  margin: 1px 10px 4px 0px ;
}

.checkBoxStyle label:before {
 content: "";
 display: inline-block;
 width: 20px;
 height: 20px;
 vertical-align: middle;
 background-color: #f9f9f9;
  border: 1px solid #ccc;
 border-radius: 5px;
}

.checkBoxStyle input[type="checkbox"]:checked + label:before, .checkBoxStyle input[type="radio"]:checked + label:before {
  background: url('../images/checkbox_tick.png') 3px 3px no-repeat;
  background-size: 13px 15px;
}

.table > tbody > tr.alert-info > td {
 background-color: #d9edf7;
}

.divisionBox {
  height: 120px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.paddingT0 {
  padding-top:0;
}

.green {
  color :green;
}
.red {
  color: red;
}

.marginB10 {
  margin-bottom: 10px;
}

.marginB15 {
  margin-bottom: 15px;
}

.alignRight {
  text-align: right;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

.navbar-brand.image {
  padding:0;
  
  img {
    max-height:41px;
    margin-top:5px;
  }
}

.userInfoDropDown {
  display:flex;

  .imageDiv {
    min-height:60px;
    width:200px; 
    padding:5px;
  
    img {
      max-height:50px;
      max-width:90px;
      border-radius: 20px;
    }

    a {
      font-size:12px;
    }
  }
}

.smallImg {
  max-height: 50px;
}

.navbar-default .navbar-nav > li > a.userIcon {
  color: #999;
  padding: 10px;
}

.navbar-default .navbar-nav > li > a.userIcon:hover, .navbar-default .navbar-nav > li > a.userIcon:focus {
    color: #777;
}

.hostelRoom  {
  padding: 15px 15px 0 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;

  .highlight {
    min-height: 180px;
  }
  span.bed {
    color:#999;
  }
  
  span.bed.allocatedBed a{
    color:#000;
  }
  
  span.bed.allocatedBed.dues a{
    color:#a02828;
  }
  
  span.bed.allocatedBed.isHighlight a{
    color: fuchsia;
  }
}

.padding5 {
  padding: 5px;
}

.userColor {
  color: #999;
}

.mTop0 {
  margin-top: 0;
}

.flex {
  display: flex;
}

.clearanceCertificate {
   max-width: 720px;

  .prnBox {
    border: 1px solid;
    padding: 10px 30px;
  }  

  .certificateTitle {
    text-align: center;
    border: 3px solid;
    margin-top: 20px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;

    
    div {
      padding:10px;
      border: 1px solid;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .prinNote {
    font-weight: bold;
  }

  .department {
    border: 2px solid;
    padding: 10px;
    
    .cashier {
      border-top: 1px solid;
    }
  }

  .receiver {
    border: 1px solid;
    padding: 10px;  	    
  }
}

.classAccordion {
  .panel-title a {
    text-decoration: none;
  }

  .panel-title a:hover {
    text-decoration: none;
  }

  .panel-title a:focus {
    text-decoration: none;
  }

  .panel-default > .panel-heading {
    background-color: #fff;  
  }
}

a.disabled {
  cursor: default;
  color: #999;
}

.signInBox{

  .login_box{
    background:#f7f7f7;
    border:3px solid #F4F4F4;
    padding-left: 15px;
  }
  .login_box:focus{
    outline: none;
  }
  .input_title{
    color:rgba(164, 164, 164, 0.9);
    padding-left:3px;
    margin-bottom: 2px;
  }
  
  hr{
    width:100%;
  }

  .welcome{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    color:#FFFFFF;
    margin-bottom:25px;
    margin-top:0%;
  
  }
  
  .login_title{
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 100;
    color:rgba(164, 164, 164, 0.44);
  }
  
  .card-container.card {
    max-width: 350px;
  }

  .signBtn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius:0;
    background: rgb(42, 102, 158);
    height: 55px;
    margin-bottom:10px;
    margin-top:25px;
  }
  
  .signBtn:focus{
    outline: none;
  }
  
  .signBtn.btn.disabled, .signBtn[disabled]  {
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    box-shadow: none;
  }
  /*
  * Card component
  */
  .card {
    background-color: #FFFFFF;
    /* just in case there no content*/
    padding: 1px 25px 30px;
    margin: 0 auto 25px;
  
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 10px;
    -moz-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  /*
  * Form styles
  */
  .profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
  }
  
  .reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .form-signin #inputEmail,
  .form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
  }

  .form-signin input[type=email].signIn,
  .form-signin input[type=password].signIn,
  .form-signin input[type=text].signIn,
  .form-signin button.signBtn {
    width: 100%;
    display: block;
  
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 14px;
  }
  
  .form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  }
  
  .btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(42, 102, 158);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
  }

  .btn.btn-signin:hover,
  .btn.btn-signin:active,
  .btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
  }
  
  .forgot-password {
    color: rgb(104, 145, 162);
  }
  
  .forgot-password:hover,
  .forgot-password:active,
  .forgot-password:focus{
    color: rgb(12, 97, 33);
  }

  .blackColor {
    color: #000;
    font-weight: bold;
    margin-top: 25px;
  }
  
  hr {
    margin-bottom:0;
  }
  img {
    margin: 20px auto;
  }

  .orgName {
    font-size: 20px;
    margin-bottom:0;
  }
}

.form-group.uib-time.hours input {
  pointer-events: none;
  tab-index: -1;
}

.form-group.uib-time.minutes input { 
  pointer-events: none;
}

.modal-header {
  border-radius: 5px 5px 0 0;
}
.linkOverwite {
  color:#86675e;
  font-size:14px;
}

.linkOverwite:focus {
  outline: 0;
}

.linkOverwite:hover {
  text-decoration: none;
}

.parentInfo.dropdown-menu {
  min-width:220px;
}

.bold {
  font-weight: bold;
}

.borderBottom {
  border-bottom: 1px solid #e2e2e2;
}

.studentInfo chart-legend ul {
  position:absolute;
  top: 0;
  left: 20px;
}

.classAccordion .panel {
  border: none;
  box-shadow: none;
}

.absolute {
  position:absolute;
}

.relative {
  position:relative;
}


@media (max-width: 767px) {
  .accountFilter select {
    margin-bottom:5px;
  }
  .accountFilter input {
    margin-bottom:5px;
  }
  
  .filterRight {
    float: left;
    width: 100%;
  }

  .filterRight.examFilter > div {
    margin-top: 10px;
  }
  
  .daterangepicker.show-calendar .calendar {
    display: inline-block;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
