<span>{{day}}</span>
<div ng-repeat="timeslot in timeSlots" class="timeSlot border" >
  <div ng-if="timeEvents[timeslot].length > 0" style="display:flex;width:100%;">
    <div ng-repeat="slots in timeEvents[timeslot]" class="slot{{timeEvents[timeslot].length}}" style="background-color:{{slots.color}}"  ng-class="{height10: checkHeight(timeslot, slots.end_time), mTop10: checkTop(timeslot, slots.start_time)}" uib-tooltip="{{slots.name}}- {{slots.start_time}} to {{slots.end_time}}" ng-click="selectSlot(slots);">
    </div>
  </div>
  <div ng-if="timeEvents[timeslot].length == 0" style="width:100%;display:flex" ng-click="selectSlot(null);">
  </div>
  
</div>

