<div  style="margin:20px 0;">
  <div class="col-sm-12 textLeft">
    <h2>TimeTable</h2>
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <div class="col-sm-12 textLeft" style="margin:10px 0;" ng-show="!requestLoading">
    <button class="btn btn-primary" ng-click="createTimeTableSlot();"> Create Slot</button>
  </div>
  
  <div class="col-sm-12 textLeft alert alert-success" ng-if="selectedSlot">
    you selected {{selectedSlot.name}} - {{selectedSlot.start_time}} to {{selectedSlot.end_time}}
    <button class="btn btn-link" ng-click="editTimeTableSlot(selectedSlot);">Edit</button>
    <button ng-click="deleteSlot(selectedSlot);" class="btn btn-link" ng-disabled="deleteLoading">Delete</button>
    <span button-req-load is-loading="deleteLoading"></span>
    <button ng-click="nullSelect();" class="btn btn-link">Cancel</button>
  </div>
  
  <div class="col-sm-6 textLeft alert alert-success" ng-show="showSlotForm && !requestLoading">
    <div class="col-md-12 col-md-offset-0">
      <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
      <form name="form" ng-submit="registorTimeTableSlot()" role="form" autocomplete="off">

	<div class="form-group" ng-class="{ 'has-error': form.cwday.$dirty && form.cwday.$error.required }">
	  <label for="cwday">Day</label>
	  <select class="form-control ng-touched" ng-model="vm.cwday" ng-options="k as v for (k, v) in days" required>
	  </select>
	  <span ng-show="form.cwday.$dirty && form.cwday.$error.required" class="help-block">Type is required</span>
	</div>

	<div class="form-group" ng-class="{ 'has-error': form.cwday.$dirty && form.cwday.$error.required }">
	  <label for="cwday">Division</label>
	  <select class="form-control ng-touched" ng-model="vm.sub_class_id" ng-options="sub_class.id as sub_class.name for sub_class in sub_classes" >
	  </select>
	  <span ng-show="form.cwday.$dirty && form.cwday.$error.required" class="help-block">Type is required</span>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error': form.slot_type.$dirty && form.slot_type.$error.required }">
	  <label for="slot_type">Type</label>
	  <select class="form-control ng-touched" ng-model="vm.slot_type" ng-options="values for values in ['Class']" required>
	  </select>
	  <span ng-show="form.slot_type.$dirty && form.slot_type.$error.required" class="help-block">Type is required</span>
	</div>

	<div class="form-group" ng-class="{ 'has-error': form.subject_id.$dirty && form.subject_id.$error.required }" ng-if="vm.slot_type === 'Class'">
	  <label for="subject_id">Subject</label>
	  <select class="form-control ng-touched" ng-model="vm.subject_id" ng-options="values.id as values.name for values in subjects" required>
	  </select>
	  <span ng-show="form.subject_id.$dirty && form.subject_id.$error.required" class="help-block">Subject is required</span>
	</div>

	<div class="form-group">
	  <label for="subject_id">Teacher</label>
	  <button type="button" class="btn btn-link" ng-click="openSelectTeacher('lg')" uib-tooltip="Help">
	    {{vm.teacher_name ? 'Change teacher' : 'Assign teacher'}}
	  </button>
	  <div ng-if="vm.teacher_name">
	    {{vm.teacher_name}}
	    <input type="hidden" name="teacher_id" value="{{vm.teacher_id}}" />
	  </div>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error': form.start_time.$dirty && form.start_time.$error.required }">
	  <label for="start_time" class="noselect">Start Time &nbsp;<span class="pointer" time-change ng-model="start_time" operation="-" time="15">-15</span>&nbsp<span time-change class="pointer" ng-model="start_time" operation="+" time="15">+15</span></label>
	  <p class="input-group">
	    <input type="text" class="form-control" datetime-picker="HH:mm" ng-model="start_time" is-open="isOpen" ng-click="openCalendar($event, prop);" enable-date="false" readonly required/>
	  </p>
	  <span ng-show="form.start_time.$dirty && form.start_time.$error.required" class="help-block">Start Time is required</span>
	</div>
	
	<div class="form-group" ng-class="{ 'has-error': form.end_time.$dirty && form.end_time.$error.required }">
	  <label for="end_time" class="noselect">End Time &nbsp<span class="pointer" time-change ng-model="end_time" operation="-" time="15">-15</span>&nbsp<span time-change class="pointer" ng-model="end_time" operation="+" time="15">+15</span></label>
	  <p class="input-group">
	    <input type="text" class="form-control" datetime-picker="HH:mm" ng-model="end_time" is-open="isOpenEndDate" ng-click="openEndCalendar($event, prop);" enable-date="false"  readonly required/>
	  </p>
	  <span class="alert alert-warning">End Time must be greater then start Time</span>
	  <span ng-show="form.end_time.$dirty && form.end_time.$error.required" class="help-block">End Time is required</span>
	</div>
	<div class="form-group">
	  <label for="class_room">Class Room</label>
	  <input type="text" name="class_room" id="class_room" class="form-control" ng-model="vm.class_room" />
	</div>
	<div class="form-actions">
	  <button type="submit" ng-disabled="(form.$invalid || dataLoading) || (end_time < start_time) " class="btn btn-primary">Save</button>
	  <span button-req-load is-loading="dataLoading"></span>
	  <a class="btn btn-default" ng-click="cancelTimeTableSlotManage();">Cancel</a>
	</div>
      </form>
    </div>
    
  </div>
  <div class="col-sm-12 textLeft" ng-show="!requestLoading">
    <div class="timeTableSubjects">
      <span ng-repeat="subject in subjects" ng-style='{"background-color": subject.color, "color": subject.text_color }' data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="subject" jqyoui-draggable="{animate:true,placeholder:'keep'}" class="pointer" uib-tooltip="Drag and drop into time table">
	{{subject.name}}
      </span>
    </div>
    <div dispaly-times time-slots="timeSlots" class="left col-md-1 textCenter" >
    </div>
    <div day-slots day="Monday" events="events" time-slots="timeSlots" selected-slot="selectedSlot" show-slot-form="showSlotForm" class="left col-lg-1 textCenter padding0" cwday="1" time-table-id="time_table.id" subjects="subjects" divisions="sub_classes" add-into-slot="addIntoSlot(slot)">
    </div>
    <div day-slots day="Tuesday" events="events" time-slots="timeSlots" selected-slot="selectedSlot" show-slot-form="showSlotForm" class="left col-lg-1 textCenter padding0" cwday="2" time-table-id="time_table.id" subjects="subjects" divisions="sub_classes" add-into-slot="addIntoSlot(slot)">
    </div>
    <div day-slots day="Wednesday" events="events" time-slots="timeSlots" selected-slot="selectedSlot" show-slot-form="showSlotForm" class="left col-lg-1 textCenter padding0" cwday="3" time-table-id="time_table.id" subjects="subjects" divisions="sub_classes" add-into-slot="addIntoSlot(slot)">
    </div>
    <div day-slots day="Thusday" events="events" time-slots="timeSlots" selected-slot="selectedSlot" show-slot-form="showSlotForm" class="left col-lg-1 textCenter padding0" cwday="4" time-table-id="time_table.id" subjects="subjects" divisions="sub_classes" add-into-slot="addIntoSlot(slot)">
    </div>
    <div day-slots day="Friday" events="events" time-slots="timeSlots" selected-slot="selectedSlot" show-slot-form="showSlotForm" class="left col-lg-1 textCenter padding0" cwday="5" time-table-id="time_table.id" subjects="subjects" divisions="sub_classes" add-into-slot="addIntoSlot(slot)">
    </div>
    <div day-slots day="Saturday" events="events" time-slots="timeSlots" selected-slot="selectedSlot" show-slot-form="showSlotForm" class="left col-lg-1 textCenter padding0" cwday="6" time-table-id="time_table.id" subjects="subjects" divisions="sub_classes" add-into-slot="addIntoSlot(slot)">
    </div>
    <div day-slots day="Sunday" events="events" time-slots="timeSlots" selected-slot="selectedSlot" show-slot-form="showSlotForm" class="left col-lg-1 textCenter padding0" cwday="7" time-table-id="time_table.id" subjects="subjects" divisions="sub_classes" add-into-slot="addIntoSlot(slot)">
  </div>
</div>
