<div class="col-md-6 col-md-offset-3">
  <h2>New Holiday</h2>
  <div request-loading is-loading="requestLoading"></div>
  <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
  <form name="form" ng-submit="registerHoliday()" role="form" ng-show="!requestLoading" autocomplete="off">
    <div class="form-group col-sm-12 padding0">
      <label class="form-control halfWidth pointer" for="isMultiDate">
	<input type="radio" name="isMultiDate" id="isMultiDate"  ng-model="vm.isMultiDate"  ng-value="false" />
	Single day
      </label>
      <label class="form-control halfWidth pointer" for="isMultiDateTrue">
	<input type="radio" name="isMultiDateTue" id="isMultiDateTrue" ng-model="vm.isMultiDate"  ng-value="true"/>
	Multiple Days
      </label>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.date.$dirty && form.date.$error.required }" ng-show="vm.isMultiDate === false">
      <label for="date">Date <span class="textRed"> *</span></label>
      <p class="input-group">
	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="vm.date" is-open="isOpen" ng-click="openCalendar($event, prop);" ng-focus="openCalendar($event, prop);" enable-time="false" ng-required="vm.isMultiDate === false" readonly />
      </p>
      <span ng-show="form.marks.$dirty && form.marks.$error.required" class="help-block">Meeting Date is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.date.$dirty && form.date.$error.required }" ng-show="vm.isMultiDate === true">
      <label for="date">Date Range <span class="textRed"> *</span></label>
      <p class="input-group">
	<input date-range-picker id="rangeCalender" class="form-control date-picker calender pointer" type="text" ng-model="dateRange" style="width:230px;display:inline;" placeholder="Enter date range" onkeypress="return false" options="{autoApply: true}" ng-required="vm.isMultiDate === true" readonly />
	<label for="rangeCalender" class="rangeCalender pointer"><i class="fa fa-calendar marginT10"></i></label>
      </p>
      <span ng-show="form.marks.$dirty && form.marks.$error.required" class="help-block">Meeting Date is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.reason.$dirty && form.reason.$error.required }">
      <label for="reason">Reason <span class="textRed"> *</span></label>
      <input type="text" name="reason" id="reason" class="form-control" ng-model="vm.reason"  required/>
    </div>
    <div class="form-group col-sm-12 padding0 marginT20">
      <label class="form-control halfWidth pointer" for="allOrganisationTrue">
	<input type="radio" name="allOrganisationTrue" id="allOrganisationTrue"  ng-model="allOrganisation"  ng-value="true" />
	All organisation 
      </label>
      <label class="form-control halfWidth pointer" for="allOrganisation">
	<input type="radio" name="allOrganisation" id="allOrganisation"  ng-model="allOrganisation"  ng-value="false" />
	Selected Class
      </label>

      <div class="assignStudentsList col-lg-12 padding0 marginT20" ng-if="allOrganisation == false">
	<div request-loading is-loading="classLoading"></div>
	<label ng-repeat="jkci_class in classes" class="checkBoxStyle col-lg-6">
	  <input id="class_{{jkci_class.id}}" type="checkbox" checklist-model="vm.classList" checklist-value="jkci_class.id" ng-model="jkci_class.checked"> 
	  <label for="class_{{jkci_class.id}}"></label>
	  {{jkci_class.class_name}}
	</label>
      </div>
      
    </div>
    <div class="form-actions marginTop20" style="padding-bottom:20px;">
      <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">New</button>
      <span button-req-load is-loading="dataLoading"></span>
      <a ng-click="goBack();" class="btn btn-default">Cancel</a>
    </div>
  </form>
</div>

