<div style="margin:20px 0;">
  <div class="examFilterDiv col-sm-12 padding0"> 
    <div class="pull-right">
      <input type="text" ng-model="filterStudent" dl-key-code="pageChanged(1);" code="13" placeholder="Type mobile and enter" value="{{filterStudent}}" style="width:230px;display:inline;" class="form-control">
      <button class="btn btn-primary" ng-click="pageChanged(1);">Filter</button>
    </div>		  
  </div>
  <div class="examFilterDiv col-sm-12" style="padding:10px 0;"> 
    <a href="#/meetings/new" class="btn btn-primary" >New</a>
  </div>
  <br /><br /><br />
  <div class="alert alert-warning col-sm-12">
    <span ng-if="totalCount > 0">
      Total Meetings  are - {{totalCount}}
    </span>
    <span ng-if="totalCount === 0">
      No data found
    </span>
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="highlight col-sm-12" ng-show="!requestLoading && totalCount > 0">
    <table st-table="rowCollection" class="table organisationCoursesTable">
      <thead>
	<tr>
	  <th st-sort="balance">#</th>
	  <th st-sort="firstName">Agenda</th>
	  <th st-sort="firstName">Date</th>
	  <th st-sort="lastName">SMS Sent</th>
	</tr>
      </thead>
      <tbody>
	<tr dir-paginate-start="row in meetings | toArray:false | itemsPerPage: 10" total-items="totalCount" current-page="pagination.current" pagination-id="meetings" ng-click="openInfo(row);" class="pointer">
	  <td><span ng-if="!showRollNumber">{{ $index+1 + ((pagination.current - 1) * 10)}}</span></td>
	  <td><span>{{row.agenda}}</span></td>
	  <td>{{row.date}}</td>
	  <td>{{row.sms_sent}}</td>
	</tr>
	<tr ng-if="row.expanded" dir-paginate-end="" class="noBorder alert alert-warning">
	  <td></td>
	  <td colspan="3">
	    <a href="#/meetings/{{row.id}}/show" class="btn btn-primary">Show</a>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="meetings" ng-show="totalCount > 9"></dir-pagination-controls>
</div>



