<div>
  <div class="examFilterDiv col-sm-12 padding0 row margin0"> 
    <h3 class="pull-left">Meetings</h3>
    <div class="pull-right marginT15">
      <a href="#/meetings/new" class="btn btn-primary" >New</a>
    </div>
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="col-sm-12 padding0 marginT20" ng-show="!requestLoading && totalCount > 0">
    <div class="col-sm-12 padding0">
      <div class="pull-left paddingTop10">
	Records&nbsp;:&nbsp; <strong>{{totalCount}}</strong>
      </div>
      <div class="filterRight">
	<input type="text" ng-model="filterStudent" dl-key-code="pageChanged(1);" code="13" placeholder="Type mobile and enter" value="{{filterStudent}}" style="width:230px;display:inline;" class="form-control">
	<button class="btn btn-primary" ng-click="pageChanged(1);"><i class="fa fa-filter"></i></button>
      </div>		  
    </div>
    <table st-table="rowCollection" class="table organisationCoursesTable table-striped">
      <thead>
	<tr>
	  <th st-sort="balance">#</th>
	  <th st-sort="firstName">Agenda</th>
	  <th st-sort="firstName">Date</th>
	  <th st-sort="lastName">SMS Sent</th>
	</tr>
      </thead>
      <tbody>
	<tr dir-paginate="row in meetings | toArray:false | itemsPerPage: 10" total-items="totalCount" current-page="pagination.current" pagination-id="meetings" ng-click="openInfo(row);" class="pointer">
	  <td><span ng-if="!showRollNumber">{{ $index+1 + ((pagination.current - 1) * 10)}}</span></td>
	  <td><a class="linkOverwite" href="#/meetings/{{row.id}}/show">{{row.agenda}}</a></td>
	  <td>{{row.date}}</td>
	  <td>{{row.sms_sent}}</td>
	</tr>
      </tbody>
    </table>
  </figure>
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="meetings" ng-show="totalCount > 9"></dir-pagination-controls>
</div>



