<div>
  <div class="examFilterDiv col-sm-12 padding0 row margin0"> 
    <h3 class="pull-left">Meetings</h3>
    <div class="pull-right marginT15">
      <a href="#/meetings/new" class="btn btn-primary" >New</a>
    </div>
  </div>
  
  <figure class="col-sm-12 padding0 marginT20">
    <div class="col-sm-12 padding0">
      <div class="pull-left paddingTop10">
	Records&nbsp;:&nbsp; <strong>{{totalCount}}</strong>
      </div>
      <div class="filterRight">
	<div class="marginR10 positionRelative " style="width:230px;display:inline-block;">
	  <input date-range-picker id="rangeCalender" class="form-control date-picker calender pointer" type="text" ng-model="filter.dateRange" style="width:230px;display:inline;" placeholder="Enter date range" onkeypress="return false" options="{autoApply: true}" readonly/>
	  <label for="rangeCalender" class="rangeCalender pointer"><i class="fa fa-calendar marginT10"></i></label>
	</div>
	<button class="btn btn-primary" ng-click="filterData();"><i class="fa fa-filter"></i></button>
	<button class="btn btn-primary"  ng-click="resetFilter();" uib-tooltip="Reset"><i class="fa fa-refresh"></i></button>
      </div>		  
    </div>
    <div request-loading is-loading="requestLoading"></div>
    <table st-table="rowCollection" class="table organisationCoursesTable table-striped" ng-show="!requestLoading && totalCount > 0">
      <thead>
	<tr>
	  <th st-sort="balance">#</th>
	  <th st-sort="firstName">Agenda</th>
	  <th st-sort="firstName">Date</th>
	  <th st-sort="lastName">Status</th>
	</tr>
      </thead>
      <tbody>
	<tr dir-paginate="row in meetings | toArray:false | itemsPerPage: 10" total-items="totalCount" current-page="pagination.current" pagination-id="meetings">
	  <td><span ng-if="!showRollNumber">{{ $index+1 + ((pagination.current - 1) * 10)}}</span></td>
	  <td><a class="linkOverwite" href="#/meetings/{{row.id}}/show">{{row.agenda}}</a></td>
	  <td>{{row.date}}</td>
	  <td>{{row.sms_sent ? 'Published' : 'Created'}}</td>
	</tr>
      </tbody>
    </table>
  </figure>
  <dir-pagination-controls class="text-center col-sm-12" on-page-change="pageChanged(newPageNumber)" pagination-id="meetings" ng-show="totalCount > 9"></dir-pagination-controls>
  <figure class="col-sm-12 padding0 fullWidth" ng-show="!requestLoading && totalCount  === 0" style="">
    <h4 class="text-danger">No data found</h4>
  </figure>
</div>



