<div class="col-md-6 col-md-offset-3">
  <h2>{{text}} Student</h2>
  <div request-loading is-loading="requestLoading"></div>
  <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
  <form name="form" ng-submit="registerMeeting()" role="form" ng-show="!requestLoading">
    <div class="form-group">
      <label for="agenda">Agenda <span class="textRed"> *</span></label>
      <select class="form-control ng-touched" ng-model="vm.agenda" style="" ng-options="values for values in ['parent Meeting']"  required>
      </select>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.date.$dirty && form.date.$error.required }">
      <label for="date">Date <span class="textRed"> *</span></label>
      <p class="input-group">
	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy HH:mm" ng-model="vm.date" is-open="isOpen" ng-click="openCalendar($event, prop);" ng-focus="openCalendar($event, prop);" readonly required/>
      </p>
      <span ng-show="form.marks.$dirty && form.marks.$error.required" class="help-block">Exam Date is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.contact_person.$dirty && form.contact_person.$error.required }">
      <label for="contact_person">Contact Person </label>
      <input type="text" name="contact_person" id="contact_person" class="form-control" ng-model="vm.contact_person"  />
    </div>
    <div class="form-actions" style="padding-bottom:20px;">
      <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">New</button>
      <span button-req-load is-loading="dataLoading"></span>
      <a ng-click="goBack();" class="btn btn-default">Cancel</a>
    </div>
  </form>
</div>

