<div class="container">
  <div class="col-sm-12 textLeft">
    <div class="studentShow col-sm-12 paddingLeft0">
      <h2>
	Meeting
      </h2>
      <div class="col-sm-12">
	<h5>
	  <span class="col-sm-2">Agenda :</span>
	</h5>
	<span style="font-size:20px;">{{meeting.agenda}}</span>
      </div>
      <div class="col-sm-12">
	<h5>
	  <span class="col-sm-2">Date :</span>
	</h5>
	<span style="font-size:20px;">{{meeting.date}}</span>
      </div>
      <div class="col-sm-12">
	<h5>
	  <span class="col-sm-2">Contact person :</span>
	</h5>
	<span style="font-size:20px;">{{meeting.contact_person}} &nbsp;</span>
      </div>
      <div class="col-sm-12">
	<h5>
	  <span class="col-sm-2">Sms Sent :</span>
	</h5>
	<span style="font-size:20px;">{{meeting.sms_sent}}</span>
      </div>
      <div class="col-sm-12" style="margin:15px 0;">
	<a ng-click="goBack();" class="btn btn-default">Back</a>
      </div>
    </div>
  </div>
  <div meetings-student class="col-sm-12 textLeft" meeting-id="{{meetingId}}">
  </div>
</div>

