<div request-loading is-loading="requestLoading"></div>
<div class="col-md-12 text-center" ng-show="!requestLoading">
  <button class="btn btn-primary" ng-print print-element-id="printRecipt"><i class="fa fa-print"></i> Print</button>
  <a class="btn btn-default" ng-click="goBack();"><i class="fa fa-arrow-circle-o-left"></i> Back</a>
</div>
<div id="printRecipt" class="col-md-12 marginT30" ng-show="!requestLoading">
  <div class="clearanceCertificate center-block" >
    <div class="prnBox">
      <div>
	<span>class <strong> {{clr_student.class_name}}</strong></span>
	<span class="pull-right">PRN ................</span>
      </div>
    </div>
    <div class="certificateTitle pull-center">
      <div>
	CLEARANCE CERTIFICATE
      </div>
    </div>
    <div class="prinNote">
      The Priciple,
      <p>Sir,</p>
      <p>As desied I submit herewith the required CLEARANCE CERTIFICATE obtained by me from the various department of the College</p>
    </div>
    <div class="col-sm-12 marginT20 text-right">
      <strong>Yours faithfully</strong>
    </div>
    <div>
      <p>Name of Student  <strong> {{clr_student.name}}</strong></p>
      <p>Roll number    <strong></strong></p>
      <p>class & Year  <strong> {{clr_student.class_name}}</strong></p>
    </div>

    <div class="department col-sm-12">
      <div class="text-center">
	<h4 class="marginT0">
	  NOTING IS DUE FROM THE ABOVE STUDENT
	</h4>
      </div>
      <div class="col-sm-12">
	<span class="col-sm-6">i )  Tuition  Fee</span>
	<span class="col-sm-6">ii)  College Libory</span>
	<span class="col-sm-6">iii) Labouratory</span>
	<span class="col-sm-6">iv)  NCC</span>
	<span class="col-sm-6">V)   NSS</span>
	<span class="col-sm-6">vi)  Hostel</span>
	<span class="col-sm-6">vii) Mess</span>
      </div>

      <div class="cashier col-sm-12">
	<div class="text-left">
	  <strong >Certified that the above Student has cleared all the college & university Dues</strong>
	</div>
	<div class="text-right marginT30">
	  <strong>Accounts/Cashier</strong>
	</div>
      </div>
    </div>
    <div class="col-sm-12 paddingLeft0">
      <div class="marginT20">Certified that the Student has put requisite Attendance at the lectures etc. as laid down in ordinance of the college  </div>
      <div class="pull-right marginT30">
	Attendance Clerk 
      </div>
    </div>
    
    <div class=" col-sm-12 receiver " style="float:left; width:100%">
      <span>Received the Admission Ticket & Date Sheet</span>
      <div class="marginT30 marginB10">
	<span class="pull-left">Asstt. Concerned</span>
	<span class="pull-right">Sigature of the Student</span>
      </div>
    </div>
  </div>
</div>
