<div>
  <h3 class="" ng-if="!classId">Students</h3>
  <div ng-if="!showOptions">
    <div class="pull-right">
      <span is-role-visible='["manage_roll_number"]' email="currentUser.email">
	<a href="#/classes/{{classId}}/manage_student_rollnumber" class="btn btn-primary" ng-if="classId" uib-tooltip="Manage Roll Number">
	  <i class="fa fa-sort-numeric-asc"></i>
	</a>
      </span>
      <span is-role-visible='["manage_class_student"]' email="currentUser.email" ng-if="classId">
	<button type="button" class="btn btn-primary buttonNoneBorder" ng-click="openAssignStudentModel('lg')" uib-tooltip="Assign Student">
	  <i class="fa fa-users"></i>
	</button>
      </span>
      <span is-role-visible='["manage_student_subject"]' email="currentUser.email">
	<a href="#/classes/{{classId}}/manage_student_subjects" class="btn btn-primary" ng-if="classId" uib-tooltip="Manage Subject">
	  <i class="fa fa-folder-o"></i>
	</a>
      </span>
      <span is-role-visible='["add_student"]' email="currentUser.email">
	<a href="#/classes/{{classId}}/students/new" class="btn btn-primary" ng-if="classId" uib-tooltip="New Student"> 
	  <i class="fa fa-user-plus"></i>
	</a>
      </span>
    </div>
    <div ng-if="classId" style="margin-top:10px;" >
      <figure class="highlight pull-left" ng-show="!requestLoading">
	<div>
	  Download -> Fill Excel -> Upload
	</div>
	<span>
	  <a href="{{hostUrl}}/classes/{{classId}}/download_excel.xlsx?&authorization_token={{token}}" class="btn btn-primary" ng-if="classId" target="_blank" uib-tooltip="Download student excel">
	    <i class="fa fa-download"></i>
	  </a>
	</span>
	<span class=" paddingTop10 " style="display:block;" ng-if="classId">
	  <form name="form">
	    <div class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'.xlsx,.xls'"
		 accept=".xlsx,.xls" ngf-max-size="20MB" ng-change="selectUploadFile(file);" uib-tooltip="Select File">
	      <i class="fa fa-folder-open"></i>
	    </div>
	    <span>{{fileName}}</span>
	    <span ng-class="uploadMeaasgeClass" ng-if="uploadingFile">{{uploadingMessage}}</span>
	    <button type="submit" ng-click="submit()" ng-if="!uploadingFile" class="btn btn-default" ng-disabled="requestLoading" uib-tooltip="Upload">
	      <i class="fa fa-upload"></i>
	    </button>
	  </form>
	</span>
      </figure>
    </div>
    
  </div>
  
  <div class="examFilterDiv col-sm-12 padding0 marginT20"> 
    <div class="pull-left marginT10" ng-show="!requestLoading">
      <span ng-if="totalStudents > 0">
	Records : <strong> {{totalStudents}}</strong>
      </span>
      <span ng-if="totalStudents === 0" class="red">
	Records : 0
      </span>
    </div>
    
    <div class="pull-right marginB15">
      <input type="text" ng-model="filter.name" dl-key-code="pageChanged(1);" code="13" placeholder="Enter name or mobile" value="{{filter.name}}" style="width:230px;display:inline;" class="form-control">
      <span  ng-if="isFilter">
	<select class="form-control ng-touched" ng-model="filter.class" ng-options="cls.id as cls.name for cls in classes" style="width:200px;display:inline;">
	  <option value="">All</option>
	</select>
	<span  ng-if="isFilter">
	  <select class="form-control ng-touched" ng-model="filter.hostel" ng-options="values for values in ['Hostelite', 'Non Hostelite']" style="width:200px;display:inline;">
	  <option value="">All</option>
	</select>
	</span>
      </span>
      <button class="btn btn-primary" ng-click="pageChanged(1);" uib-tooltip="Filter"><i class="fa fa-filter"></i></button>
      <button class="btn btn-primary" ng-click="resetFilter();" uib-tooltip="Reset"><i class="fa fa-refresh"></i></button>
    </div>		  
  </div>
  <div class="pull-left" style="padding-bottom:20px;" is-role-visible='["accountant", "accountant_clerk"]' email="currentUser.email" ng-if="newStudent">
    <a class="btn btn-primary" href="#/students/new" ng-if="!classId">New Student</a>
    <a class="btn btn-primary" href="#/classes/{{classId}}/students/new" ng-if="classId">New Student</a>
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class=" col-sm-12 padding0" ng-show="!requestLoading && totalStudents > 0">
    <table st-table="rowCollection" class="table organisationCoursesTable table-striped">
      <thead>
	<tr>
	  <th st-sort="firstName" ng-if="!isRollNumber">Sr. No.</th>
	  <th class="text-center" st-sort="firstName" ng-if="isRollNumber">Roll Number</th>
	  <th st-sort="lastName">Name</th>
	  <th st-sort="balance">Batch</th>
	  <th st-sort="balance">Standard</th>
	  <th st-sort="balance" ng-if="!isRemove">Class</th>
	  <th ng-if="isRemove"></th>
	</tr>
      </thead>
      <tbody>
	<tr dir-paginate="row in students | toArray:false | itemsPerPage: 10" total-items="totalStudents" current-page="pagination.current" pagination-id="student">
	  <td class="text-center"><span ng-if="showRollNumber">{{ row.roll_number || '-'}} </span><span ng-if="!showRollNumber">{{ $index+1 + ((pagination.current - 1) * 10)}}</span></td>
	  <td>
	    <a class="linkOverwite" href="#/students/{{row.id}}/show">{{row.name}}</a>&nbsp;&nbsp;
	    <span uib-dropdown ng-if="row.assign_to !== ''" class="paddingR10">
	      <div class="btn-group" >
		<a  id="simple-dropdown" class="pointer"  uib-dropdown-toggle>
		  <i class="fa fa-info-circle"></i>
		</a>
		<ul uib-dropdown-menu aria-labelledby="simple-dropdown" class="padding10 parentInfo">
		  <li>
		    Parent : {{row.parent_name}}
		  </li>
		  <li>
		    Mobile : {{row.p_mobile}}
		  </li>
		  <li ng-if="has_show_pay_info">
		    <span>
		      <a class="btn btn-primary" href="#/students/{{row.id}}/pay_fee" ng-if="row.remaining_fee > 0">Pay Fee</a>
		      <button class="btn btn-primary" ng-if="row.remaining_fee === 0" disabled>Pay Fee</button>
		      <a class="btn btn-primary" href="#/students/{{row.id}}/payment_info" >Payment Info</a>
		    </span> 
		  </li>
		</ul>
	      </div>
	    </span>
	    <span ng-if="row.has_hostel" class="green paddingR10" uib-tooltip="Hostalite"><i class="fa fa-bed"></i></span>
	    <span ng-if="row.enable_sms" class="green" uib-tooltip="SMS Enabled" ><i class="fa fa-mobile-phone"></i></span>
	  </td>
	  <td>{{row.batch}}</td>
	  <td>{{row.standard}}</td>
	  <td ng-if="!isRemove" ng-click="openInfo(row);">{{row.class_names}}</td>
	  <td ng-if="isRemove">
	    <button ng-click="removeStudent(row)" class="btn btn-link paddingT0"><i class="fa fa-trash" uib-tooltip="Remove"></i></button>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="student" ng-show="totalStudents > 9" class="col-sm-12 text-center"></dir-pagination-controls>
</div>

