<div style="margin:20px 0;">
  <a href="#/classes/{{classId}}/students/new" class="btn btn-primary" ng-if="classId"> New Student</a>
  <a href="#/students/new" class="btn btn-primary" ng-if="!classId"> New Student</a>
  <a href="#/classes/{{classId}}/manage_student_subjects" class="btn btn-primary" ng-if="classId">manage_student_subjects</a>
  <input type="text" ng-model="filterStudent.name">
  <table st-table="rowCollection" class="table organisationCoursesTable">
    <thead>
      <tr>
	<th st-sort="firstName">Index</th>
	<th st-sort="lastName">Name</th>
	<th st-sort="balance">Batch</th>
	<th st-sort="balance">Standard</th>
	<th st-sort="balance">Parent Name</th>
	<th st-sort="balance">Parent Mobile</th>
	<th st-sort="balance" ng-if="!isRemove">Classes</th>
	<th></th>
	<th ng-if="isRemove">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in students | toArray:false| filter:filterStudent">
	<td>{{$index+1}}</td>
	<td>{{row.name}}</td>
	<td>{{row.batch}}</td>
	<td>{{row.standard}}</td>
	<td>{{row.parent_name}}</td>
	<td>{{row.p_mobile}}</td>
	<td ng-if="!isRemove">{{row.class_names}}</td>
	<td>
	  <a href="#/students/{{row.id}}/show" class="btn btn-link">Show</a>
	</td>
	<td ng-if="isRemove">
	  <button ng-click="removeStudent(row)" class="btn btn-link">Remove</button>
	</td>
      </tr>
    </tbody>
  </table>

</div>

