<div style="margin:20px 0;">
  <span ng-if="!showOptions">
    <span is-role-visible='["manage_roll_number"]' email="currentUser.email">
      <a href="#/classes/{{classId}}/manage_student_rollnumber" class="btn btn-primary" ng-if="classId" uib-tooltip="Manage Roll Number">
	<i class="fa fa-sort-numeric-asc"></i>
      </a>
    </span>
    <span is-role-visible='["manage_class_student"]' email="currentUser.email" ng-if="classId">
      <button type="button" class="btn btn-primary buttonNoneBorder" ng-click="openAssignStudentModel('lg')" uib-tooltip="Assign Students">
	<i class="fa fa-users"></i>
      </button>
    </span>
    <span is-role-visible='["manage_student_subject"]' email="currentUser.email">
      <a href="#/classes/{{classId}}/manage_student_subjects" class="btn btn-primary" ng-if="classId" uib-tooltip="Manage Subjects">
	<i class="fa fa-folder-o"></i>
      </a>
    </span>
    <span is-role-visible='["add_student"]' email="currentUser.email">
      <a href="#/classes/{{classId}}/students/new" class="btn btn-primary" ng-if="classId" uib-tooltip="New Student"> 
	<i class="fa fa-user-plus"></i>
      </a>
    </span>
    <div ng-if="classId" style="margin-top:10px;">
      <figure class="highlight col-sm-12" ng-show="!requestLoading">
	<div>
	  Download -> Fill Excel -> Upload
	</div>
	<span>
	  <a href="{{hostUrl}}/classes/{{classId}}/download_excel.xlsx?&authorization_token={{token}}" class="btn btn-primary" ng-if="classId" target="_blank" uib-tooltip="Download student excel">
	    <i class="fa fa-download"></i>
	  </a>
	</span>
	<span class=" paddingTop10 " style="display:block;" ng-if="classId">
	  <form name="form">
	    <div class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'.xlsx,.xls'"
		 accept=".xlsx,.xls" ngf-max-size="20MB" ng-change="selectUploadFile(file);" uib-tooltip="Select File">
	      <i class="fa fa-folder-open"></i>
	    </div>
	    <span>{{fileName}}</span>
	    <span ng-class="uploadMeaasgeClass" ng-if="uploadingFile">{{uploadingMessage}}</span>
	    <button type="submit" ng-click="submit()" ng-if="!uploadingFile" class="btn btn-default" ng-disabled="requestLoading" uib-tooltip="Upload">
	      <i class="fa fa-upload"></i>
	    </button>
	  </form>
	</span>
      </figure>
    </div>
  </span>
  <div class="examFilterDiv col-sm-12 padding0"> 
    <div class="pull-left marginB15">
      <input type="text" ng-model="filterStudent" dl-key-code="pageChanged(1);" code="13" placeholder="Enter name or mobile" value="{{filterStudent}}" style="width:230px;display:inline;" class="form-control">
      <span  ng-if="isFilter">
	<select class="form-control ng-touched" ng-model="filterClass" ng-options="cls.id as cls.name for cls in classes" style="width:200px;display:inline;">
	  <option value="">All</option>
	</select>
      </span>
      <button class="btn btn-primary" ng-click="pageChanged(1);" uib-tooltip="Filter"><i class="fa fa-filter"></i></button>
    </div>		  
  </div>
  <div class="col-sm-12 padding0" style="padding-bottom:20px;" is-role-visible='["accountant", "accountant_clark"]' email="currentUser.email" ng-if="newStudent">
    <a class="btn btn-primary" href="#/students/new" ng-if="!classId">New Student</a>
    <a class="btn btn-primary" href="#/classes/{{classId}}/students/new" ng-if="classId">New Student</a>
  </div>
  <br /><br /><br />
  <div class="alert alert-warning col-sm-12" ng-show="!requestLoading">
    <span ng-if="totalStudents > 0">
      Total Students are - {{totalStudents}}
    </span>
    <span ng-if="totalStudents === 0">
      No data found
    </span>
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="highlight col-sm-12" ng-show="!requestLoading && totalStudents > 0">
    <table st-table="rowCollection" class="table organisationCoursesTable">
      <thead>
	<tr>
	  <th st-sort="firstName" ng-if="!isRollNumber">Number</th>
	  <th class="text-center" st-sort="firstName" ng-if="isRollNumber">Roll Number</th>
	  <th st-sort="lastName">Name</th>
	  <th st-sort="balance">Batch</th>
	  <th st-sort="balance">Standard</th>
	  <th st-sort="balance">Enable SMS</th>
	  <th st-sort="balance" ng-if="!isRemove">Classes</th>
	  <th ng-if="isRemove"></th>
	</tr>
      </thead>
      <tbody>
	<tr dir-paginate-start="row in students | toArray:false | itemsPerPage: 10" total-items="totalStudents" current-page="pagination.current" pagination-id="student" ng-click="openInfo(row);" class="pointer">
	  <td class="text-center"><span ng-if="showRollNumber">{{ row.roll_number || '-'}} </span><span ng-if="!showRollNumber">{{ $index+1 + ((pagination.current - 1) * 10)}}</span></td>
	  <td><span>{{row.name}}</span></td>
	  <td>{{row.batch}}</td>
	  <td>{{row.standard}}</td>
	  <td><i class="fa fa-{{row.enable_sms ? 'check' : 'times'}}" ng-class="{'green': row.enable_sms, 'red': !row.enable_sms}"></i></td>
	  <td ng-if="!isRemove">{{row.class_names}}</td>
	  <td ng-if="isRemove">
	    <button ng-click="removeStudent(row)" class="btn btn-link paddingT0"><i class="fa fa-trash" uib-tooltip="Remove"></i></button>
	  </td>
	</tr>
	<tr ng-if="row.expanded" dir-paginate-end="" class="noBorder alert alert-warning">
	  <td></td>
          <td colspan="5">
	    <span>Parent Name - {{row.parent_name}} </span>
	    <br />
	    <span>Mobile - {{row.p_mobile}}</span>
	    <br />
	    <a href="#/students/{{row.id}}/show" class="btn btn-primary">Show</a>
	    <span ng-if="has_show_pay_info">
	      <a class="btn btn-primary" href="#/students/{{row.id}}/pay_fee" ng-if="row.remaining_fee > 0">Pay Fee</a>
	      <button class="btn btn-primary" ng-if="row.remaining_fee === 0" disabled>Pay Fee</button>
	      <a class="btn btn-primary" href="#/students/{{row.id}}/payment_info" >Payment Info</a>
	    </span>
	  </td>
        </tr>
      </tbody>
    </table>
  </figure>
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" pagination-id="student" ng-show="totalStudents > 9"></dir-pagination-controls>
</div>

