<div style="margin:20px 0;">
  <div>
    <div class="col-sm-12 textLeft">
      <span class="col-sm-2"><h5>Name</h5> </span>
      <span class="col-sm-6 paddingTop10">{{student_name}}</span>
    </div>
    <div class="col-sm-12 textLeft">
      <span class="col-sm-2"><h5>Mobile</h5> </span>
      <span class="col-sm-6 paddingTop10">{{mobile}}</span>
    </div>
    <div class="col-sm-12 textLeft">
      <span class="col-sm-2"><h5>Parent Mobile</h5> </span>
      <span class="col-sm-6 paddingTop10">{{p_mobile}}</span>
    </div>
    <div class="col-sm-12 textLeft">
      <span class="col-sm-2"><h5>Batch</h5> </span>
      <span class="col-sm-6 paddingTop10">{{batch}}</span>
    </div>
    <div class="col-sm-12 textLeft">
      <span class="col-sm-2" ng-class="{'bg-danger': remaining_fee > 0}"><h5>Total Remaining Fee</h5> </span>
      <span class="col-sm-6 paddingTop10">{{remaining_fee}}</span>
    </div>
    <div class="col-sm-12 textLeft">
      <span class="col-sm-2" ng-class="{'bg-danger': advances < 0}"><h5>{{advances < 0 ? 'Dues' : 'Advances'}}</h5> </span>
      <span class="col-sm-6 paddingTop10">{{advances < 0 ? advances * -1 : advances }}</span>
    </div>
    <div class="col-sm-12 textLeft header">
      
      <a class="btn btn-primary" href="#/students/{{id}}/pay_fee" ng-if="remaining_fee > 0">Pay Fee</a>
      <button class="btn btn-primary" ng-if="remaining_fee === 0" disabled>Pay Fee</button>
      <a class="btn btn-primary" href="#/students/{{id}}/pay_other_fee">Pay Other Fee</a>
      <button class="btn btn-primary" ng-disabled="advances < 0 || remaining_fee > 0" ng-click="get_clearance();">Clearance</button>
      <button class="btn btn-primary" ng-disabled="advances < 0 && remaining_fee < 0" ng-click="get_clearance();">Fee Adjustement</button>
      <button class="btn btn-default" ng-click="goBack();">Back</button>
    </div>
  </div>
  <div class="alert alert-warning col-sm-12">
    <span ng-if="totalStudents > 0">
      Total collected payments are  - {{totalFee}}
    </span>
    <span ng-if="totalStudents === 0">
      Total collected payments are  - 0
    </span>
  </div>
  <div class="alert alert-danger col-sm-12" ng-if="advances < 0">
    <span>
      Total dues are are   {{(advances * -1 ) + remaining_fee}}
    </span>
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="highlight col-sm-12" ng-show="!requestLoading && totalStudents > 0">
    <table st-table="rowCollection" class="table organisationCoursesTable" >
      <thead>
	<tr>
	  <th st-sort="lastName">Class</th>
	  <th st-sort="lastName">Date</th>
	  <th st-sort="balance">Amount</th>
	  <th st-sort="balance">Pay For</th>
	  <th st-sort="balance">Payment Type</th>
	  <th st-sort="balance">Book Number</th>
	  <th st-sort="balance">Receipt Number</th>
	  <th>Print</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in payments"> 
	  <td>{{row.jkci_class}}</td>
	  <td>{{row.date}}</td>
	  <td>{{row.amount}}</td>
	  <td>{{row.is_fee}}</td>
	  <td>{{row.payment_type}}
	    <span uib-dropdown ng-if="row.payment_type !== 'cash'">
	      <a  id="simple-dropdown" uib-dropdown-toggle >
		<i class="fa fa-info-circle"></i>
	      </a>
	      <ul uib-dropdown-menu aria-labelledby="simple-dropdown" class="padding5">
		<li>
		  Bank Name - {{row.bank_name}}
		</li>
		<li>
		  Cheque number - {{row.cheque_number}}
		</li>
		<li>
		  Cheque issue date - {{row.cheque_issue_date}}
		</li>
	      </ul>
	    </span>
	  </td>
	  <td>{{row.book_number}}</td>
	  <td>{{row.receipt_number}}</td>
	  <td>
	    <a href="#/accounts/students/{{row.student_id}}/fee_receipt/{{row.id}}"><i class="fa fa-print"></i></a>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>

  <h2 ng-show="hostel_payments.length > 0">Hostel transactions</h2>
  <figure class="highlight col-sm-12" ng-show="!requestLoading && hostel_payments.length > 0">
    <table st-table="rowCollection" class="table organisationCoursesTable" >
      <thead>
	<tr>
	  <th st-sort="lastName">Hostel</th>
	  <th st-sort="lastName">Room</th>
	  <th st-sort="lastName">Amount</th>
	  <th st-sort="balance">Date</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in hostel_payments" ng-class="{'bg-danger': row.is_dues}"> 
	  <td>{{row.hostel}}</td>
	  <td>{{row.hostel_room}}</td>
	  <td>{{row.amount}}</td>
	  <td>{{row.date}}</td>
	</tr>
      </tbody>
    </table>
  </figure>
</div>


