<div class="container">
  <div class="col-sm-12 textLeft">
    <div class="studentShow col-sm-12">
      <p>&nbsp;</p>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-2">Name :</small> 
	  <span style="font-size:20px;">{{student.name}}</span>
	</h5>
      </div>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-2">Mobile :</small> 
	  <span style="font-size:20px;">{{student.mobile}}</span>
	</h5>
      </div>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-2">Parent Name:</small> 
	  <span style="font-size:20px;">{{student.parent_name}}</span>
	</h5>
      </div>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-2">Parent Mobile :</small> 
	  <span style="font-size:20px;">{{student.p_mobile}}</span>
	</h5>
      </div>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-2">Subjects :</small> 
	  <span style="font-size:14px;">{{student.subjects}}</span>
	</h5>
      </div>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-2">Download Progress Report :</small> 
	  <span style="font-size:20px;">
	    <a class="btn btn-primary btn-sm" target="_blank" href="{{hostUrl}}/students/{{student.id}}/download_report.pdf">Download Report</a>
	  </span>
	</h5>
      </div>
    </div>
    <div class="col-sm-12 left">
      <div class="left">
	<a class="btn btn-primary" href="#/students/{{student.id}}/edit">Edit</a>
      </div>
      <div class="left mRight10">
      <toggle-switch class="mLeft10"
		     ng-model="student.enable_sms"
		     knob-label="SMS" ng-click="toggleStudentSms()">
      </toggle-switch>
      </div>
      <div class="left">
	<button class="btn btn btn-default" onclick="return confirm('Are you sure?')" href="/student/10/disable_student">
	  Disable Student
	</button>
	<button class="btn btn-default" ng-click="goBack();">
	  Back
	</button>
      </div>
    </div>
  </div>
</div>
