<div class="container">
  <div class="col-sm-12 textLeft">
    <div class="studentShow col-sm-6">
      <p>&nbsp;</p>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-4">Name :</small> 
	  <span style="font-size:20px;">swapnil pp</span>
	</h5>
      </div>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-4">Mobile :</small> 
	  <span style="font-size:20px;">9850840777</span>
	</h5>
      </div>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-4">Parent Name:</small> 
	  <span style="font-size:20px;">jk</span>
	</h5>
      </div>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-4">Parent Mobile :</small> 
	  <span style="font-size:20px;">9850840777</span>
	</h5>
      </div>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-4">Subjects :</small> 
	  <span style="font-size:20px;">Physics  |  Chem  |  Bio</span>
	</h5>
      </div>
      <div class="col-sm-12">
	<h5>
	  <small class="col-sm-4">Download Progress Report :</small> 
	  <span style="font-size:20px;">
	    <a class="btn btn-primary btn-sm" target="_blank" href="/student/10/download_report.pdf">Download Report</a>
	  </span>
	</h5>
      </div>
    </div>
    <div class="userLoginDiv col-sm-6">
      
    </div>
    <div class="col-sm-12 left">

      <a class="btn btn-primary" href="/students/10/edit">Edit</a>
      <a class="btn btn btn-default" onclick="return confirm('Are you sure?')" href="/student/10/disable_student_sms">Disable Sms</a>
      <a class="btn btn btn-default" onclick="return confirm('Are you sure?')" href="/student/10/disable_student">Disable Student</a>
      <a class="btn btn-default" href="#/students">Back</a>
    </div>
  </div>
</div>
