<div class="modal-header">
  <h3 class="modal-title">{{student.name}} Info</h3>
  <a ng-click="cancel()" style="float: right;position: absolute;right: 15px;top: 19px;cursor:pointer;color:#999;"><i class="fa fa-times"></i></a>
</div>
<div class="modal-body col-sm-12" style="min-height:300px;">
  <div request-loading is-loading="requestLoading"></div>
  <div ng-show="!requestLoading">
    <div class="col-sm-4">
      <i class="fa fa-user fa-4x userColor"></i>
    </div>
    <div class="col-sm-8">
      <div>Name - <strong>{{student.name}}</strong></div>
      <div>Mobile - <strong>{{student.mobile}}</strong></div>
      <div>
	Parent Name - <strong>{{student.parent_name}}</strong>
      </div>
      <div>Parent Mobile - <strong>{{student.p_mobile}}</strong></div>
      <div>Class - <strong>{{student.class_names}}</strong></div>
      <div>Subjects - <strong>{{student.subjects}}</strong></div>
    </div>
    <div request-loading is-loading="absenteeRequestLoading"></div>
    <div class="col-sm-12" ng-show="!absenteeRequestLoading">
      <div class="alert alert-warning" ng-if="absentee.length > 0">
	<h5>Last Month Absentee</h5>
	<div ng-repeat="absenty in absentee">
	  {{$index+1}} <strong>{{absenty.date}}</strong>  {{absenty.class_name}}
	</div>
      </div>
      <div class="alert alert-success" ng-if="absentee.length == 0">
	No absentee in last Month
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a ng-click="cancel()" class="btn btn-default">Close</a>
</div>
