<div class="col-md-6 col-md-offset-3">
  <h2>Change Password</h2>
  <div request-loading is-loading="requestLoading"></div>
  <div ng-show="vm.error" class="alert alert-danger" ng-show="!requestLoading">{{vm.error}}</div>
  <form name="form" ng-submit="updateClarkPassword()" role="form" ng-show="!requestLoading">
    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
      <label for="email">Email</label><br />
      <label for="email">{{email}}</label>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
      <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password_confirmation.$dirty && form.password_confirmation.$error.required }">
      <label for="password_confirmation">Confirm Password</label>
      <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" ng-model="vm.user.password_confirmation" required />
      <span ng-show="form.password_confirmation.$dirty && form.password_confirmation.$error.required" class="help-block">Password Must be same</span>
    </div>
    <div class="form-actions" style="padding-bottom:20px;">
      <button type="submit" ng-disabled="form.$invalid || dataLoading || (form.password.$viewValue != form.password_confirmation.$viewValue)" class="btn btn-primary">Register</button>
      <span button-req-load is-loading="dataLoading"></span>
      <a href="#/manage_organisation" class="btn btn-default">Cancel</a>
    </div>
  </form>
</div>

