<div style="margin-top:20px;">
  <a href="#/add_organisation_clark" class="btn btn-success"> New User</a>
  <div class="alert alert-warning" style="margin-top:20px;" ng-if="clarks.length === 0">
    No data found
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="highlight col-sm-12" ng-show="!requestLoading && clarks.length > 0">
    <table st-table="rowCollection" class="table">
      <thead>
	<tr>
	  <th st-sort="firstName">Email</th>
	  <th st-sort="lastName">Actions</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in clarks">
	  <td>{{row.email}}</td>
	  <td>
	    <button class="btn btn-primary left mLeft10" ng-click="manageRoles(row);">Manage Roles</button>
	    <a href="#/organisation/users/{{row.id}}/change_password" class="btn btn-primary left mLeft10">Change Password</a>
	    <toggle-switch class="left mLeft10"
			   ng-model="row.is_enable"
			   knob-label="ACTIVE" ng-click="toggleEnableUser(row)">
	    </toggle-switch>
	    <button class="btn btn-primary left mLeft10" ng-click="deleteClark(row)" ng-disabled="row.dataLoading">Delete User</button>
	    <span button-req-load is-loading="row.dataLoading"></span>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
</div>

