<div style="margin:20px 0;">
  <a href="#/remaining_organisation_courses" class="btn btn-success"> Add Course</a>
  <table st-table="rowCollection" class="table organisationCoursesTable">
    <thead>
      <tr>
	<th></th>
	<th st-sort="firstName">Name</th>
	<th st-sort="lastName">Assign To</th>
	<th st-sort="birthDate">Action</th>
	<th st-sort="balance">Last Login</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in cources">
	<td cs-select="row" ng-if="!row.actions"></td>
	<td ng-if="row.actions"></td>
	<td>{{row.name}}</td>
	<td>{{row.assign_to}}</td>
	<td></td>
	<td>{{row.last_login}} <span ng-if="row.last_login">ago</span></td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-warning">
    You can assign standards to others for handle it. 
  </div>
  <button class="btn btn-success" ng-click="launchSubOrganisation()" ng-disabled="!isLaunchEnable()"> Assign It </button>
</div>
