<div style="margin:20px 0;">
  <a href="#/remaining_organisation_courses" class="btn btn-success" ng-if="isRoot"> Add Course</a>
  
  <div request-loading is-loading="requestLoading" style="display:flex;"></div>
  <div class="alert alert-warning" style="margin-top:20px;" ng-if="!requestLoading && cources.length ===  0 && isRoot">
    No courses added.<a href="#/remaining_organisation_courses"> Add courses</a>  for managing organisation.
  </div>
  <figure class="highlight col-sm-12">
    <table st-table="rowCollection" class="table organisationCoursesTable" ng-show="!requestLoading && cources.length > 0 ">
      <thead>
	<tr>
	  <th></th>
	  <th st-sort="firstName">Name</th>
	  <th st-sort="lastName">Assign To</th>
	  <th st-sort="birthDate">Action</th>
	  <th st-sort="birthDate">Total Fee</th>
	  <th st-sort="balance">Last Login</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in cources" ng-class="{danger: !row.is_active}">
	  <td cs-select="row" ng-if="!row.actions && row.is_active"></td>
	  <td ng-if="row.actions || !row.is_active"></td>
	  <td>
	    {{row.name}}
	  </td>
	  <td>
	    {{row.assign_to}}
	    <span uib-dropdown ng-if="row.assign_to !== ''">
	      <a  id="simple-dropdown" uib-dropdown-toggle >
		<i class="fa fa-info-circle"></i>
	      </a>
	      <ul uib-dropdown-menu aria-labelledby="simple-dropdown" class="padding5">
		<li>
		  Email - {{row.assigned_org_info.email}}
		</li>
		<li>
		  Mobile - {{row.assigned_org_info.mobile}}
		</li>
	      </ul>
	    </span>
	  </td>
	  <td>
	    <span ng-if="row.is_root && row.is_active">
	      <button class="btn btn-link" ng-click="disableStandard(row);">Disable standard</button>
	    </span>
	    <span ng-if="row.is_root && !row.is_active">
	      <button class="btn btn-link" ng-click="enableStandard(row);">Enable standard</button>
	    </span>
	  </td>
	  <td>{{row.total_fee}}&nbsp;&nbsp;&nbsp;<a class="btn btn-link" href="#/organisations/{{row.id}}/fees/edit">Edit</a></td>
	  <td>{{row.last_login}} <span ng-if="row.last_login">ago</span></td>
	</tr>
      </tbody>
    </table>
  </figure>
  <div class="alert alert-warning" ng-if="cources.length > 0">
    Assign standards to others for handle it. 
  </div>
  <button class="btn btn-success" ng-click="launchSubOrganisation()" ng-disabled="!isLaunchEnable()" ng-if="cources.length > 0"> Assign It </button>
</div>
