<div>
  <uib-tabset justified="true">
    <uib-tab>
      <uib-tab-heading><i class="icon-bell"></i> Cources</uib-tab-heading>
      <div organisation-profile></div>
      <div organisation-cources></div>
    </uib-tab>
    <uib-tab ng-attr-active="organisationClassesTab">
      <uib-tab-heading><i class="icon-bell"></i> All Classes</uib-tab-heading>
      <div organisation-classes organisation-classes-tab="{{organisationClassesTab}}" host-url="{{hostUrl}}"></div>
    </uib-tab>
    <uib-tab>
      <uib-tab-heading><i class="icon-bell"></i> Users</uib-tab-heading>
      <div>
	<div organisation-clarks></div>
      </div>
    </uib-tab>
    <uib-tab>
      <uib-tab-heading><i class="icon-bell"></i> Sub Organisation</uib-tab-heading>
      <div>
	<div organisation-sub-organisations></div>
      </div>
    </uib-tab>
    <uib-tab ng-attr-active="organisationStandardTab">
      <uib-tab-heading><i class="icon-bell"></i> Standard's manage</uib-tab-heading>
      <div organisation-standards organisation-standard-tab="{{organisationStandardTab}}" host-url="{{hostUrl}}"></div>
    </uib-tab>
  </uib-tabset>
</div>
