<div class="col-md-12 col-md-offset-0">
  <h2>New Sub Organisation Launch for {{name}}</h2>
</div>
<div request-loading is-loading="requestLoading"></div>
<div class="col-md-6 col-md-offset-0" ng-show="!requestLoading">
    <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
    <form name="form" ng-submit="registerOrganisation()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" ng-model="vm.org.email" placeholder="Must be present" required />
            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
        </div>
	<div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
          <label for="name">Stream Name <small>(like science, Arts, Junior, senior)</small></label>
          <input type="text" name="name" id="name" class="form-control" ng-model="vm.org.name" placeholder="Must be present" required />
          <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.mobile.$dirty && form.mobile.$error.required }">
          <label for="mobile">Mobile</label>
            <input type="text" name="mobile" id="mobile" class="form-control" ng-model="vm.org.mobile" ng-minlength="10"  ng-maxlength="10" placeholder="must be present in 10 digit" onkeypress="return event.charCode >= 48 && event.charCode <= 57" required />
            <span ng-show="form.mobile.$dirty && form.mobile.$error.required" class="help-block">Mobile is required</span>
	    <div ng-show="form.mobile.$error.minlength || form.mobile.$error.maxlength">
	      <span>Must be a valid 10 digit phone number</span>
	    </div>
        </div>
	
        <div class="form-actions" style="padding-bottom:20px;">
          <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Register</button>
	  <span button-req-load is-loading="dataLoading"></span>
            <a href="#/manage_organisation" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>
