<h2>Manage clerk roles</h2>
<div request-loading is-loading="requestLoading"></div>
<div style="margin:20px 0;" class="userRoles remainingStudentsList col-md-6" ng-show="!requestLoading">
  <label ng-repeat="clerks_role in clerks_roles" class="checkBoxStyle">
    <input id="{{clerks_role}}" type="checkbox" checklist-model="rolesList" checklist-value="clerks_role"> 
    <label for="{{clerks_role}}"></label>
    {{clerks_role | capitalize }}
  </label>
  
  <!--<div ng-repeat="(key, value) in roles">
    <span role-select key="key" value="value"></span>
  </div>-->
  <br />
  <button class="btn btn-primary" ng-click="saveRoles();">Save Roles</button>
  <a ng-click="goBack();" class="btn btn-default">Cancel</a>
</div>
