<div class="col-md-6" style="margin:20px 0;">
  <h2>Class {{class_name}} total fee is {{fee}} </h2>
  <strong class="warning">If you want to update fee please update fee and use your login password</strong>

  <div request-loading is-loading="requestLoading"></div>
  <div ng-show="!requestLoading">
    <h2>Update Fee</h2>
    <form name="form" ng-submit="updateFee()" role="form" autocomplete="off">
      <div class="form-group">
	<label for="fee">Fee <span class="textRed"> *</span></label>
	<input type="text" name="fee" id="fee" class="form-control" ng-model="vm.fee" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 0 || event.charCode === 46" required/>
      </div>
      <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
	<label for="password">Password <span class="textRed">*</span></label>
	<input type="password" name="password" id="password" class="form-control" ng-model="vm.password" required />
	<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
      </div>
      <div class="form-actions" style="padding-bottom:20px;">
	<button type="submit" ng-disabled="form.$invalid || vm.dataLoading || vm.fee == fee" class="btn btn-primary">Update Fee</button>
	<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
	<a ng-click="goBack();" class="btn btn-default">Cancel</a>
      </div>
    </form>
  </div>
</div>
