<div style="margin-top:20px;">
  <table st-table="rowCollection" class="table">
    <thead>
      <tr>
	<th st-sort="firstName">id</th>
	<th st-sort="firstName">Standard</th>
	<th st-sort="lastName">Organisaiton</th>
	<th st-sort="lastName">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="standard in organisation_standards">
	<td>{{$index+1}}</td>
	<td>{{standard.name}}</td>
	<td>
	  <span ng-repeat="org in standard.organisaitons" class="standardOrganisationBtn">{{org.organisation_name}} <i class="fa fa-times" ng-if="org.organisation_id !== organisation_id && !org.is_assigned_to_other && !org.is_parent_organisation" ng-click="removeOrganisaitonStandard(standard, org.organisation_id);"></i></span>
	</td>
	<td>
	  <a href="#/organisation/standards/{{standard.id}}/assign_organisation"class="btn btn-default">Assign Organisaiton</a>
	</td>
      </tr>
    </tbody>
  </table>
</div>
