<div class="container">
  <div class="col-sm-12 textLeft paddingLeft0">
    <span class="col-sm-2 paddingLeft0"><h5>Name</h5> </span>
    <span class="col-sm-6 paddingTop10">{{organisation.name}}</span>
  </div>

  <div class="col-sm-12 textLeft paddingLeft0">
    <span class="col-sm-2 paddingLeft0"><h5>Email</h5> </span>
    <span class="col-sm-6 paddingTop10">{{organisation.email}}</span>
  </div>

  <div class="col-sm-12 textLeft paddingLeft0">
    <span class="col-sm-2 paddingLeft0"><h5>Mobile</h5> </span>
    <span class="col-sm-6 paddingTop10">{{organisation.mobile}}</span>
  </div>
  
  <div class="col-sm-12 textLeft paddingLeft0">
    <span class="col-sm-2 paddingLeft0"><h5>SMS</h5> </span>
    <span class="col-sm-6 paddingTop10">{{organisation.is_send_message}}
      <span ng-if="organisation.is_send_message != 'Enabled' && is_root" class="alert alert-warning marginLeft10" style="padding:10px;">Need to contact 
	<a href="#/contact"> Eracord Admin</a> 
      </span>
    </span>
  </div>

  <div class="col-sm-12 textLeft paddingLeft0" ng-if="is_root">
    <span class="col-sm-2 paddingLeft0"><h5>Account SMS Number</h5> </span>
    <span class="col-sm-6 paddingTop10">{{organisation.account_sms}}</span>
  </div>
  <div class="col-sm-12 textLeft paddingLeft0" ng-if="is_root">
    <span class="col-sm-2 paddingLeft0"><h5>Pan Number</h5> </span>
    <span class="col-sm-6 paddingTop10">{{organisation.pan_number}}</span>
  </div>
  <div class="col-sm-12 textLeft paddingLeft0" ng-if="is_root">
    <span class="col-sm-2 paddingLeft0"><h5>Tan Number</h5> </span>
    <span class="col-sm-6 paddingTop10">{{organisation.tan_number}}</span>
  </div>
  <div class="col-sm-12 textLeft paddingLeft0" ng-if="is_root">
    <span class="col-sm-2 paddingLeft0"><h5>Enable Service Tax</h5> </span>
    <span class="col-sm-6 paddingTop10">{{organisation.enable_service_tax}}</span>
  </div>
  <div class="col-sm-12 textLeft paddingLeft0" ng-if="organisation.enable_service_tax && is_root">
    <span class="col-sm-2 paddingLeft0"><h5>Service tax</h5> </span>
    <span class="col-sm-6 paddingTop10">{{organisation.service_tax}}%</span>
  </div>
  <div class="col-sm-12 textLeft paddingLeft0" ng-show="!profileRequestLoading">
    <a href="#/edit_organisation" class="btn btn-primary">Edit</a>
  </div>
  <div class="col-sm-12 textLeft paddingLeft0 mTop20" ng-if="is_root">
    <span class="col-sm-2 paddingLeft0"><h5>Upload Logo</h5> </span>
    <span>
      <img ng-src="{{organisation.logo_url}}" class="pull-left smallImg">
    </span>
    <form name="form" class="col-sm-6">
      <div class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'.png,.jpg'"
	   accept=".png,.jpg" ngf-max-size="20MB" ng-change="selectUploadFile(file);" uib-tooltip="{{organisation.logo_url == '' ? 'Select logo image' : 'Change logo image'}}"><i class="fa fa-2x fa-cloud-upload"></i></div>
      <span>{{fileName}}</span>
      <span ng-class="uploadMeaasgeClass" ng-if="uploadingFile">{{uploadingMessage}}</span>
      <button type="submit" ng-click="submit()" ng-if="!uploadingFile" class="btn btn-default" ng-disabled="requestLoading">Upload</button>
    </form>
  </div>
</div>
      
