<div class="col-md-6 col-md-offset-3 ">
  <h2>Add Organisation to standards</h2>
  <div request-loading is-loading="requestLoading"></div>
  <form name="form" ng-submit="registorOrganisation()" role="form" ng-show="!requestLoading">
    <div class="form-group">
      <label for="initl">Organisation</label>
      <select class="form-control ng-touched" ng-model="vm.new_organisation" style="" ng-options="sub_organisation.id as sub_organisation.name for sub_organisation in sub_organisations" required>
	<option value="" class="hide">Select Organisation</option>
      </select>
    </div>
    <div class="form-group">
      <label for="initl">Role</label>
      <select class="form-control ng-touched" ng-model="vm.role" style="" ng-options="values for values in ['Observer', 'Handler']" required>
	<option value="" class="hide">Select Role</option>
      </select>
    </div>
    <div class="form-actions" style="padding-bottom:20px;">
      <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Add</button>
      <span button-req-load is-loading="dataLoading"></span>
      <a ng-click="goBack();" class="btn btn-default">Cancel</a>
    </div>
  </form>

  <div class="alert alert-danger" ng-if="sub_organisations.length == 0" ng-show="!requestLoading">
    All  organisation are all ready used. Please <a href="#/organisation/standards/{{vm.standard_id}}/launch_sub_organisation"> Create </a> sub organisation
  </div>
</div>
