<div style="margin-top:20px;">
  <div class="alert alert-warning" style="margin-top:20px;" ng-if="sub_organisations.length === 0">
    No data found
  </div>
  <figure class="highlight col-sm-12" ng-if="sub_organisations.length > 0">
    <table st-table="rowCollection" class="table">
      <thead>
	<tr>
	  <th st-sort="Name">Name</th>
	  <th st-sort="Email">Email</th>
	  <th st-sort="Mobile">Mobile</th>
	  <th st-sort="Standards">Standards</th>
	  <th st-sort="Actions">Actions</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in sub_organisations">
	  <td>{{row.name}}</td>
	  <td>{{row.email}}</td>
	  <td>{{row.mobile}}</td>
	  <td>
	    <span ng-bind-html="row.standards"></span>
	  </td>
	  <td>
	    <a class="btn btn-link" ng-click="pullBackSubOrganisation(row);">Pull Back</a>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
</div>

