<i class="fa fa-camera fa-2x absolute" style="right:0;top:0;" ng-click="disablePicture();"></i>
<div request-loading is-loading="!loadingCam && (baseImage === null)"></div>
<webcam
  channel="channel" on-stream="onStream(stream)"
  on-streaming="onSuccess()"
  on-error="onError(err)" ng-show="loadingCam">
</webcam>
<canvas id="snapshot" ng-show="baseImage !== null">
</canvas>
<button ng-click="makeSnapshot();" ng-if="baseImage === null">Take Photo</button>
<button ng-click="retakePhoto();" ng-if="baseImage !== null">Retake Photo</button>
