<div class="signInBox">
  <h1 class="welcome text-center">&nbsp;</h1>
  <div class="card card-container">
    <img class="img-responsive" src="https://s3.amazonaws.com/Eracord/Eracord/images/eracord.png" alt="" style="max-width:160px;">
    <hr>
    <form class="form-signin" name="form" ng-submit="login()" role="form">
      <input type="hidden" name="username" value="{{vmorg.username}}">
      <input type="hidden" name="password" value="{{vmorg.password}}">
      <p class="text-center marginT10">Welcome <strong class="blueColor">{{vmorg.username  | capitalize}}</strong></p>
      <div class="marginT10" ng-class="{ 'has-error': form.organisation.$dirty && form.organisation.$error.required }">
	<label class="pointer" ng-repeat="organisation in organisations" style="margin:5px;width:46%;" ng-click="selectOrg(organisation);" ng-class="{'blueColor': organisation.selected}">
	  <input name="cssPre" id="css1" value="{{organisation.organisation_id}}" class="active hide" type="radio" ng-model="vmorg.organisation" required>
	  <p class="text-center">
	    <i ng-if="organisation.role == 'teacher'" class="fa fa-user fa-4x"></i>
	    <i ng-if="organisation.role != 'teacher'" class="fa fa-university fa-4x"></i>
	  </p>
	  <p class="text-center orgName" ><strong>{{organisation.organisation_name}}</strong></p>
	  <p class="text-center">{{organisation.role | capitalize}}</p>
	</label>
	<span ng-show="form.organisation.$dirty && form.organisation.$error.required" class="help-block">Oganisation ID is required</span>
      </div>
      <button class="btn btn-lg btn-primary pointer" type="submit" ng-disabled="form.$invalid || dataLoading" style="margin-top:10px;">Login <span ng-if="dataLoading"><i class="fa fa-spinner fa-spin" ></i></span></button>
      <p class="pull-left"><a ng-click="reloadPage();" class="input_title blueColor pointer">Cancel</a></p>
      <p class="pull-right green">Remaining time : {{counter}}</p>
    </form>
  </div>
</div>

