<h2>Login</h2>
<div ng-show="vmorg.error" class="alert alert-danger">{{vmorg.error}}</div>
<form name="form" ng-submit="login()" role="form">
  <div class="alert alert-warning">You are belongs to multiple organisation please select organisation you want to login.</div>
  <h3><span class="label label-default">{{vmorg.username}}</span></h3>
  <div class="form-group" ng-class="{ 'has-error': form.organisation.$dirty && form.organisation.$error.required }">
    <label class="btn active btn-default" ng-repeat="organisation in organisations" style="margin:5px;">
      
      <input name="cssPre" id="css1" value="{{organisation.organisation_id}}" class="active" type="radio" ng-model="vmorg.organisation" required>
      <br />{{organisation.organisation_name}} as {{organisation.role}}
      <div>
	<i ng-if="organisation.role == 'teacher'" class="fa fa-user fa-4x"></i>
	<i ng-if="organisation.role != 'teacher'" class="fa fa-university fa-4x"></i>
      </div>
    </label>
    <span ng-show="form.organisation.$dirty && form.organisation.$error.required" class="help-block">Oganisation ID is required</span>
  </div>
  <input type="hidden" name="username" value="{{vmorg.username}}">
  <input type="hidden" name="password" value="{{vmorg.password}}">
  <div class="form-actions">
    <button type="submit" ng-disabled="form.$invalid || vmorg.dataLoading" class="btn btn-primary">Login</button>
    <img ng-if="vmorg.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    <button class="btn btn-default" ng-click="reloadPage();">Back</button>
  </div>
</form>

