<div request-loading is-loading="requestLoading"></div>
<div style="margin:20px 0;" ng-show="!requestLoading">
  <!--a href="#/classes/{{classId}}/divisions/new" class="btn btn-primary">Create Division</a-->
  <div class="col-sm-12">
    <a ng-click="newDivisionModel('lg');" class="btn btn-primary pull-right marginB10">Create Division</a>
  </div>
  <figure class="col-sm-12"  ng-if="divisions.length > 0">
    <table st-table="rowCollection" class="table organisationCoursesTable table-striped">
      <thead>
	<tr>
	  <th st-sort="firstName">Index</th>
	  <th st-sort="lastName">Name</th>
	  <th st-sort="lastName">Student</th>
	  <th st-sort="balance">Action</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in divisions">
	  <td>{{$index+1}}</td>
	  <td>{{row.name}}</td>
	  <td>{{row.students_count}}</td>
	  <td>
	    <a href="#/classes/{{classId}}/divisions/{{row.id}}">Show</a>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
</div>
<div class="alert alert-warning col-sm-12" ng-if="divisions.length  < 1">
  <span >
    No data found
  </span>
</div>
