<div class="container">
  <div class="col-sm-12 textLeft">
    <h2>Sub Class For {{division.class_name}}</h2>
    <div class="studentShow col-sm-12" style="margin:20px 0;">
      <p>&nbsp;</p>
      <div class="col-sm-12">
	<h5>
	  <span class="col-sm-2">Name :</span> 
	  <span class="col-sm-6" style="font-size:20px;">{{division.name}}</span>
	</h5>
      </div>
      <div class="col-sm-12">
	<h5>
	  <span class="col-sm-2">Description :</span> 
	  <span class="col-sm-6" style="font-size:20px;">{{division.description}}</span>
	</h5>
      </div>
    </div>
    <div class="col-sm-12">
      <a class="btn btn-default" href="#/classes/{{classId}}/manage_class">Back</a>
      <button class="btn btn-primary" ng-click="deleteDivision();">Delete</button>
      <button type="button" class="btn btn-primary buttonNoneBorder" ng-click="openAssignStudentModel('lg')" uib-tooltip="Assign Students">
	Assign Students
      </button>
    </div>
  </div>
  <div class="col-sm-12 textLeft">
    <div division-students class-id="{{classId}}" division-id="{{divisionId}}"></div>
  </div>
</div>
