<div class="modal-header">
  <h3 class="modal-title">Assign Student to class</h3>
  <a ng-click="cancel()" style="float: right;position: absolute;right: 15px;top: 19px;cursor:pointer;color:#999;"><i class="fa fa-times"></i></a>
</div>
<div class="modal-body" style="min-height:300px;overflow: auto;">

  <div request-loading is-loading="requestLoading"></div>
  <div class="remainingStudentsList col-md-6" ng-show="!requestLoading">
    <a ng-click="selectAll();" class="pointer">Select All</a>&nbsp;&nbsp;&nbsp;
    <a ng-click="unselectAll();" class="pointer">Unselect All</a>
    <label ng-repeat="student in remainingStudents" class="checkBoxStyle">
      <input id="student_{{student.id}}" type="checkbox" checklist-model="studentList" checklist-value="student.id" ng-model="student.checked"> 
      <label for="student_{{student.id}}"></label>
      {{student.name}} - {{student.p_mobile}}
    </label>
  </div>
</div>
<div style="margin:20px 0;" class="modal-footer">
  <button class="btn btn-primary" ng-click="saveStudentList()" ng-disabled="((studentList == 0) || dataLoading)">Save</button>
  <span button-req-load is-loading="dataLoading"></span>
  <button ng-click="cancel();" class="btn btn-default">Back</button>
</div>

