<div style="margin:20px 0;">
  <div request-loading is-loading="requestLoading"></div>
  <figure class="highlight col-sm-12">
    <table st-table="rowCollection" class="table" ng-show="!requestLoading">
      <thead>
	<tr>
	  <th st-sort="firstName" ng-if="!isRollNumber">Number</th>
	  <th st-sort="firstName" ng-if="isRollNumber">Roll Number</th>
	  <th st-sort="lastName">Name</th>
	  <th st-sort="balance">Parent Mobile</th>
	  <th st-sort="balance">Invalid Field</th>
	  <th st-sort="balance">Accept</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in students" ng-class="{danger: (row.is_duplicate && !row.is_duplicate_accepted), warning: (row.is_duplicate && row.is_duplicate_accepted)}">
	  <td><span ng-if="showRollNumber">{{ row.roll_number}}</span><span ng-if="!showRollNumber">{{$index+1}}</span></td>
	  <td>{{row.name}}</td>
	  <td>{{row.p_mobile}}</td>
	  <td>{{row.duplicate_field}}</td>
	  <td>
	    <button ng-click="acceptStudent(row)" class="btn btn-link" ng-if="(row.is_duplicate && !row.is_duplicate_accepted)">Accept</button>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
</div>


