<div style="margin:20px 0;">
  <div request-loading is-loading="requestLoading"></div>
  <figure class="highlight col-sm-12">
    <div class="col-sm-12 padding0" ng-show="!requestLoading">
      <h4>Total Students are - {{totalStudents}}</h4>
    </div>
  </figure>
  
  <figure class="highlight col-sm-12" ng-show="!requestLoading" ng-if="students.length > 0">
    <h4>Duplicate fielf students count are - {{students.length}}</h4>
    <table st-table="rowCollection" class="table">
      <thead>
	<tr>
	  <th st-sort="firstName" ng-if="!isRollNumber">Number</th>
	  <th st-sort="firstName" ng-if="isRollNumber">Roll Number</th>
	  <th st-sort="lastName">Name</th>
	  <th st-sort="balance">Parent Mobile</th>
	  <th st-sort="balance">Invalid Field</th>
	  <th st-sort="balance">Accept</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat-start="row in students" ng-class="{danger: (row.is_duplicate && !row.is_duplicate_accepted), warning: (row.is_duplicate && row.is_duplicate_accepted), 'alert-info': row.expanded}">
	  <td ng-click="openInfo(row);" class="pointer">
	    <span ng-if="showRollNumber">{{ row.roll_number}}</span><span ng-if="!showRollNumber">{{$index+1}}</span>
	  </td>
	  <td ng-click="openInfo(row);" class="pointer">
	    {{row.name}}
	  </td>
	  <td ng-click="openInfo(row);" class="pointer">
	    {{row.p_mobile}}
	  </td>
	  <td ng-click="openInfo(row);" class="pointer">
	    {{row.duplicate_field}}
	  </td>
	  <td>
	    <button ng-click="acceptStudent(row)" class="btn btn-link" ng-if="(row.is_duplicate && !row.is_duplicate_accepted && !row.dataLoading)">Accept</button>
	    <span button-req-load is-loading="row.dataLoading"></span>
	  </td>
	</tr>
	<tr ng-if="row.expanded" ng-repeat-end="" class="noBorder alert alert-info">
	  <td colspan="5">
	    Student Id - {{row.student_id}}
	    <br />
	    Total exams attented are -  {{row.exams_count}}
	    <br />
	    <button ng-click="acceptStudent(row)" class="btn btn-link" ng-if="(row.is_duplicate && !row.is_duplicate_accepted && !row.dataLoading)">Accept and leave as it is</button>
	    <a class="btn btn-link" href="#/students/{{row.student_id}}/edit?&location=manage_class&class_id={{classId}}">Edit Student</a>
	    <button ng-click="removeStudent(row);" class="btn btn-link">Remove student from class</button>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
  <figure class="highlight col-sm-12">
    <h4>Divisions</h4>
  </figure>
</div>


