<div class="container" style="margin: 20px 0;">
  <div class="col-sm-12 textLeft">
    <h2>
      Manage students optional subjects <br>
      <small ng-show="!requestLoading"><span ng-repeat="subject in subjects"> {{subject.name}} </span> optional subjects for {{jk_class.name}} class</small>
    </h2>
    <div request-loading is-loading="requestLoading"></div>
    <table class="table table-hover studentsTable highlight table-striped" ng-show="!requestLoading">
      <thead>
	<tr>
	  <th>Roll Number</th>
	  <th>Name</th>
	  <th>Subjects</th>
	</tr>
      </thead>
      <tbody><tr class="studentSubjects" data-student-id="7">
	<tr class="studentSubjects" ng-repeat="student in students" >
	  <td>
	  {{student.roll_number}}  
	  </td>
	  <td>
	    {{student.name}}
	  </td>
	  <td>
	    <label ng-repeat="subject in subjects">
	      <input type="checkbox" checklist-model="student.o_subjects" checklist-value="subject.id"> {{subject.name}} <br />
	    </label>
	  </td>
	</tr>
      </tbody>
    </table>
    <div ng-show="!requestLoading">
      <button class="btn btn-primary" ng-click="saveStudentSubjects();" ng-disabled="dataLoading">Save</button>
      <span button-req-load is-loading="dataLoading"></span>
      <a class="btn btn-default" href="#/classes/{{classId}}/manage_class">Back</a>
    </div>
  </div>
</div>
