<h2>Manage class</h2>
<a class="btn btn-default" href="#/classes/{{class_id}}">Back</a>
<div class="col-sm-12 textLeft paddingTop20">
  <uib-tabset justified="true">
    <uib-tab ng-attr-active="classStudentVerificationTab" >
      <uib-tab-heading><i class="icon-bell"></i> Verify Students</uib-tab-heading>
      <div style="margin:20px 0;">
	<h3>Please verify student</h3>
	<div class-duplicate-students class-id="{{class_id}}" class-student-verification-tab="{{classStudentVerificationTab}}" update-url="updateTabParams(tabName)" change-duplicate-remaining="changeDuplicateRemaining(remainingValue);" recheck-students="dirRecheckStudents(theDirFn);"></div>
	<button class="btn btn-primary" ng-click="recheckDuplicateStudent();" ng-disabled="dataLoading">
	  <i class="fa fa-refresh fa-spin fa-1x"></i>  Reset
	</button>
	<button class="btn btn-primary" ng-disabled="(remainingDuplicateCount > 0) || dataLoading" ng-click="verifyDuplicateStudent();">
	  Verify Students
	</button>
	<span button-req-load is-loading="dataLoading"></span>
      </div>
    </uib-tab>
    <uib-tab ng-attr-active="classStudentTab">
      <uib-tab-heading><i class="icon-bell"></i> Students</uib-tab-heading>
      <div class-students class-id="{{class_id}}" class-students-tab="{{classStudentTab}}" update-url="updateTabParams(tabName)" is-remove="true" host_url="{{hostUrl}}"></div>
    </uib-tab>
    <uib-tab ng-attr-active="classDivisionTab">
      <uib-tab-heading><i class="icon-bell"></i> Divisions</uib-tab-heading>
      <div>
	<div class-divisions class-id="{{class_id}}" class-division-tab="{{classDivisionTab}}" update-url="updateTabParams(tabName)"></div>
      </div>
    </uib-tab>
    <uib-tab ng-attr-active="classTimeTableTab">
      <uib-tab-heading><i class="icon-bell"></i> TimeTable</uib-tab-heading>
      <div>
	<div class-time-table class-id="{{class_id}}" class-time-table-tab="{{classTimeTableTab}}" update-url="updateTabParams(tabName)"></div>
      </div>
    </uib-tab>
    <uib-tab ng-attr-active="classNotificationTab" ng-if="jk_class.has_upgrade_batch">
      <uib-tab-heading><i class="icon-bell"></i> Upgrade batch</uib-tab-heading>
      <div style="margin:20px 0;">
	<h3>Please click upgrade batch</h3>
	<span is-role-visible='["upgrade_batch"]' email="currentUser.email" ng-if="jk_class.has_upgrade_batch">
	  <a href="#/classes/{{jk_class.id}}/get_batch" class="btn btn-primary">Upgrade Batch</a>
	</span>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
