<div class="container">
  <div class="col-sm-12 textLeft">
    <div class="col-sm-12 textLeft">
      <h2>Manage Roll number</h2>
    </div>
    <div request-loading is-loading="requestLoading"></div>
    <div class="col-sm-12 textLeft paddingTop10" ng-repeat="student in students" ng-show="!requestLoading">
      <span class="col-sm-2">{{student.student}}</span>
      <span class="col-sm-6 ">
	<input type="text" ng-model="student.roll_number" onkeypress="return event.charCode >= 48 && event.charCode <= 57">
      </span>
    </div>
    
    <div class="col-sm-12 col-sm-offset-2" style="margin-top:20px;" ng-show="!requestLoading">
      <button ng-click="saveRollNumber();" class="btn btn-primary" ng-disabled="dataLoading">Save</button>
      <span button-req-load is-loading="dataLoading"></span>
      <button class="btn btn-default" ng-click="goBack();">Back</button>
    </div>
    
  </div>
</div>
