<div>
  <h5>Filter</h5>
  <div class="col-md-4 padding0">
    <label class="btn active btn-default" ng-repeat="catlogFilter in ['class_catlogs', 'exams']">
      <input name="cssPre" id="css1" type="radio" ng-value="catlogFilter" ng-model="selectedCatlogFilter" ng-click="getResultsPage(catlogFilter);">
      {{catlogFilter}}
    </label>
  </div>
  <div class="col-md-8 padding0">
    <strong  class="">
      Download Excel Report
      <br />
      Start Date 
      <p class="input-group">
	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="start_date" is-open="isOpen" ng-click="openCalendar($event, prop);" ng-focus="openCalendar($event, prop);" enable-time="false" readonly required/>
      </p>
      End Date
      <p class="input-group">
	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="end_date" is-open="isOpenEnd" ng-click="openCalendarEnd($event, prop);" ng-focus="openCalendarEnd($event, prop);" enable-time="false" readonly required/>
      </p>
      <br />
      <a href="{{hostUrl}}/jkci_classes/{{classId}}/download_presenty_catlog.xlsx?&start_date={{start_date}}&end_date={{end_date}}&filter={{selectedCatlogFilter}}&authorization_token={{token}}" class="btn btn-primary">Download</a>
    </strong>
  </div>
</div>
<div class="col-md-12 table-responsive"  style="min-height:200px;margin-top:20px;">
  <div request-loading is-loading="requestLoading"></div>
  <table st-table="rowCollection" class="table" border="1" ng-show="!requestLoading">
    <tr>
      <th ng-repeat="header in headers" ng-class="{rotate: header !== 'name'}"><div><span>{{header}}</span></div></th>
    </tr>
    <tr ng-repeat="catlog in catlogs" style="margin-top:10px;">
      <td ng-repeat="td in catlog track by $index" ng-class="{warning: td ===  'a'}">
	<span ng-if="$index === 0">
	  {{td.name}}
	  <div class="btn-group" dropdown>
	    <a  id="simple-dropdown" uib-dropdown-toggle >
	      <i class="fa fa-info-circle"></i>
	    </a>
	    <ul  aria-labelledby="simple-dropdown" class="padding5 dropdown-menu">
	      <li>
		Parent Name - {{td.parent_name}}
	      </li>
	      <li>
		Parent Mobile - {{td.p_mobile}}
	      </li>
	    </ul>
	  </div>
	</span>
	<span ng-if="$index !== 0">
	  {{td}}
	</span>
      </td>
    </tr>
  </table>
</div>
