<div class="col-sm-12 padding0 marginT20">
  <div class="col-md-8">
    <strong  class="">
      <div class="col-sm-12 padding0">{{"download_excel_report" | translate}}</div>
      <br />
      <div class="col-sm-3 paddingLeft0">
	<label translate="start_date"></label>
	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="start_date" is-open="isOpen" ng-click="openCalendar($event, prop);" ng-focus="openCalendar($event, prop);" enable-time="false" readonly/>
      </div>
      <div class="col-sm-3 paddingLeft0">
	<label translate="end_date"></label>
	<input type="text" class="form-control" datetime-picker="dd/MM/yyyy" ng-model="end_date" is-open="isOpenEnd" ng-click="openCalendarEnd($event, prop);" ng-focus="openCalendarEnd($event, prop);" enable-time="false" readonly/>
      </div>
      <br />
      <a href="{{hostUrl}}/jkci_classes/{{classId}}/download_presenty_catlog.xlsx?&start_date={{start_date}}&end_date={{end_date}}&filter={{selectedCatlogFilter}}&authorization_token={{token}}" class="btn btn-primary marginT5" translate="download"></a>
    </strong>
  </div>
  <div class="col-md-2 paddingLeft0 pull-right paddingTop20">
    <label><strong>{{"Filter" | translate}}</strong></label>
    <select class="form-control ng-touched" ng-model="selectedCatlogFilter" ng-change="getResultsPage(selectedCatlogFilter);" ng-options="value.id as value.name for value in [{id: 'class_catlogs', name: 'Class catalogs'}, {id: 'exams', name: 'Exams'}]" >
    </select>
  </div>
</div>
<div class="col-md-12 table-responsive"  style="min-height:200px;margin-top:20px;">
  <div request-loading is-loading="requestLoading"></div>
  <table st-table="rowCollection" class="table" border="1" ng-show="!requestLoading">
    <tr>
      <th ng-repeat="header in headers" ng-class="{rotate: header !== 'name'}"><div><span>{{header}}</span></div></th>
    </tr>
    <tr ng-repeat="catlog in catlogs" style="margin-top:10px;">
      <td ng-repeat="td in catlog track by $index" ng-class="{warning: td ===  'a'}">
	<span ng-if="$index === 0">
	  {{td.name}}
	  <div class="btn-group" dropdown>
	    <a  id="simple-dropdown" uib-dropdown-toggle >
	      <i class="fa fa-info-circle"></i>
	    </a>
	    <ul  aria-labelledby="simple-dropdown" class="padding5 dropdown-menu">
	      <li>
		Parent Name - {{td.parent_name}}
	      </li>
	      <li>
		Parent Mobile - {{td.p_mobile}}
	      </li>
	    </ul>
	  </div>
	</span>
	<span ng-if="$index !== 0">
	  {{td}}
	</span>
      </td>
    </tr>
  </table>
</div>
