<div class="modal-header bg-primary">
  <h3 class="modal-title text-center">Add Subject</h3>
  <a ng-click="cancel()" class="textWhite" style="float: right;position: absolute;right: 15px;top: 19px;cursor:pointer;"><i class="fa fa-times"></i></a>
</div>
<div class="modal-body" style="min-height:300px;">
  <div request-loading is-loading="requestLoading"></div>
  <figure class="col-sm-12" ng-show="!requestLoading">
    <div class="assignStudentsList">
      <label ng-repeat="subject in subjects" class="checkBoxStyle col-md-4">
	<input id="subject_{{subject.id}}" type="checkbox" checklist-model="subjectsList" checklist-value="subject.id"> 
	<label for="subject_{{subject.id}}"></label>
	{{subject.std_name}}
      </label>
    </div>
  </figure>
</div>
<div class="modal-footer">
  <a class="btn btn-primary" type="button" ng-click="addSubjects()" ng-disabled="saveRequestLoading">Save</a>
  <span button-req-load is-loading="saveRequestLoading"></span>
</div>

