<div>
  <div>
    <h3>Teachers</h3>
  </div>
  <div>
    <a href="#/organisations/teachers/new" class="btn btn-primary pull-right"> New Teacher</a>
  </div>
  <div class="alert alert-warning" style="margin-top:20px;" ng-if="teachers.length === 0">
    No data found
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="col-sm-12 padding0" ng-show="!requestLoading && teachers.length > 0">
    <table st-table="rowCollection" class="table table-striped fixLayout">
      <thead>
	<tr>
	  <th st-sort="firstName">Name</th>
	  <th st-sort="firstName">Email</th>
	  <th st-sort="firstName">Mobile</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in teachers">
	  <td>
	    <a href="#/organisations/teachers/{{row.id}}" class="linkOverwite">{{row.name | capitalize}}</a>
	  </td>
	  <td style="word-break: break-all;">{{row.email}}</td>
	  <td>{{row.mobile}}</td>
	</tr>
      </tbody>
    </table>
  </figure>
</div>


