<div style="margin:20px 0;">
  <div>
    <span>
      My Cources
    </span>
  </div>
  <div class="alert alert-warning" ng-if="noData">No Standards are added. <a href="#/manage_organisation"> click here</a> for adding </div>
  <div request-loading is-loading="requestLoading"></div>
  <table st-table="rowCollection" class="table organisationCoursesTable" ng-show="!requestLoading && !noData && jkci_classes.length > 0">
    <thead>
      <tr>
	<th st-sort="firstName">Name</th>
	<th st-sort="lastName">Students</th>
	<th st-sort="birthDate">Fill Daily Catlog</th>
	<th st-sort="balance">Create Exam</th>	
	<th st-sort="balance">Create Grouped Exams</th>
	<th st-sort="balance">Notifications</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in jkci_classes">
	<td><a href="#/classes/{{row.id}}">{{row.class_name}}</a></td>
	<td>{{row.students}}</td>
	<td>
	  <span is-role-visible='["create_daily_teach"]' email="currentUser.email" ng-if="row.is_student_verified">
	    <a ng-href="#/classes/{{row.id}}/daily_catlogs/new">Fill Catlog</a>
	  </span>
	  <span ng-if="!row.is_student_verified">
	    <a ng-href="#/classes/{{row.id}}/manage_class?&verify=true">Verify students</a>
	  </span>
	</td>
	<td>
	  <span is-role-visible='["create_exam"]' email="currentUser.email" ng-if="row.is_student_verified">
	    <a ng-href="#/classes/{{row.id}}/exams/new">Create Exam</a>
	  </span>
	</td>
	<td>
	  <span is-role-visible='["create_exam"]' email="currentUser.email" ng-if="row.is_student_verified">
	    <a ng-href="#/classes/{{row.id}}/exams/new?&isGroup=true">Create Group Exam</a>
	  </span>
	</td>
	<td>{{row.remaining_activity}}</td>
	<td>
	  
	</td>
      </tr>
    </tbody>
  </table>
  <div ng-if="us_jkci_classes.length > 0 && !noData">
    <div>
      <span>
	Assigned courses
      </span>
    </div>
    <table st-table="rowCollection" class="table organisationCoursesTable">
      <thead>
	<tr>
	  <th st-sort="firstName">Name</th>
	  <th st-sort="firstName">Sub Organisation</th>
	  <th>Email</th>
	  <th>Mobile</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in us_jkci_classes">
	  <td><a href="#/classes/{{row.id}}">{{row.name}}</a></td>
	  <td>{{row.organisation_name}}</td>
	  <td>{{row.email}}</td>
	  <td>{{row.mobile}}</td>
	</tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-12 padding0">
    <h2>Time Tables</h2>
    <div class="col-md-4 padding0">
      <label class="btn active btn-default" ng-repeat="calenderType in ['exams', 'time_table', 'off_class']">
	<input name="cssPre" id="css1" type="radio" ng-value="calenderType" ng-model="selectedCalenderType" ng-click="reloadCalenderEvent(calenderType);">
	{{calenderType}}
      </label>
    </div>
    <div class="col-md-3 padding0">
      <select class="form-control ng-touched " ng-model="standardCalenderFilter" ng-options="standard.standard_id as standard.name for standard in org_standards" ng-change="filterCalander()">
	<option value="" >All Standards</option>
      </select>
    </div>
    <br /><br /><br /><br />
    <div class="pull-right" ng-show="loadCalenderEvent">
      <i class="fa fa-refresh fa-spin fa-2x"></i>
    </div>
    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="myCalendar"></div> 
  </div>
</div>
