<div>
  <div style="width:100%;display:inline-block;">
    <h3 class="pull-left" translate="classes"></h3>
    <button type="button" class="btn btn-primary buttonNoneBorder pull-right mTop15" ng-click="openTeacherTimeTable('lg', teacherId)" uib-tooltip="{{'time_table'| translate}}" ng-if="teacherId">
      <i class="fa fa-clock-o"></i>
    </button>
  </div>
  <div class="alert alert-warning" ng-if="noData && !requestLoading">No Standards are added. <a href="#/manage_organisation"> click here</a> for adding </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="highlight" ng-show="!requestLoading && !noData && jkci_classes.length > 0">
    <table st-table="rowCollection" class="table organisationCoursesTable">
      <thead>
	<tr>
	  <th st-sort="firstName" translate="classes"></th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in jkci_classes">
	  <td>
	    <div months start-from="{{row.created_at}}" class-id="{{row.id}}" obj="row" show-actions="true" ></div>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
  <div ng-if="us_jkci_classes.length > 0 && !noData">
    <div>
      <h3>Assigned classes</h3>
    </div>
    <figure class="highlight">
      <table st-table="rowCollection" class="table organisationCoursesTable fixLayout">
	<thead>
	  <tr>
	    <th st-sort="firstName">Classes</th>
	    <th st-sort="firstName" style="word-break: break-all;">Department</th>
	    <th>Email</th>
	    <th>Mobile</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="row in us_jkci_classes">
	    <td><a href="#/classes/{{row.id}}">{{row.name}}</a></td>
	    <td>{{row.organisation_name}}</td>
	    <td style="word-break: break-all;">{{row.email}}</td>
	    <td style="word-break: break-all;">{{row.mobile}}</td>
	  </tr>
	</tbody>
      </table>
    </figure>
  </div>

  
  <hr>
  <div class="col-md-12 padding0">
    <h2 translate="time_table"></h2>
    <div class="col-md-4 padding0">
      <label class="btn active btn-default" ng-repeat="calenderType in ['exams', 'time_table', 'off_class']" style="display: inline-flex;">
	<input name="cssPre" id="css1" type="radio" ng-value="calenderType" ng-model="selectedCalenderType" ng-click="reloadCalenderEvent(calenderType);">
	{{calenderType | translate}}
      </label>
    </div>
    <div class="col-md-3 padding0">
      <select class="form-control ng-touched " ng-model="standardCalenderFilter" ng-options="standard.standard_id as standard.name for standard in org_standards" ng-change="filterCalander()">
	<option value="" >All Standards</option>
      </select>
    </div>
    <br /><br /><br /><br />
    <div class="pull-right" ng-show="loadCalenderEvent">
      <i class="fa fa-refresh fa-spin fa-2x"></i>
    </div>
    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="myCalendar" style="margin-bottom:15px;"></div> 
  </div>
</div>
