<div style="margin:20px 0;">
  <div style="width:100%;display:inline-block;">
    <h3 class="pull-left">Classes</h3>
    <button type="button" class="btn btn-primary buttonNoneBorder pull-right mTop20" ng-click="openTeacherTimeTable('lg', teacherId)" uib-tooltip="Time Table" ng-if="teacherId">
      <i class="fa fa-clock-o"></i>
    </button>
  </div>
  <div class="alert alert-warning" ng-if="noData && !requestLoading">No Standards are added. <a href="#/manage_organisation"> click here</a> for adding </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="highlight" ng-show="!requestLoading && !noData && jkci_classes.length > 0">
    <table st-table="rowCollection" class="table organisationCoursesTable">
      <thead>
	<tr>
	  <th st-sort="firstName">Name</th>
	  <th st-sort="lastName">Students</th>
	  <th st-sort="lastName">Create</th>
	  <th st-sort="balance">Notifications</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in jkci_classes">
	  <td><a href="#/classes/{{row.id}}">{{row.class_name}}</a></td>
	  <td>{{row.students}}</td>
	  <td>
	    <span ng-if="row.is_student_verified"> 
	      <span is-role-visible='["create_daily_teach"]' email="currentUser.email" >
		<a ng-href="#/classes/{{row.id}}/daily_catlogs/new" uib-tooltip="Catlog"><i class="fa fa-table fa-2x"></i></a>
	      </span>
	      <span is-role-visible='["create_exam"]' email="currentUser.email">
		<a ng-href="#/classes/{{row.id}}/exams/new" uib-tooltip="Exam"><i class="fa fa-wpforms fa-2x"></i></a>
		<a ng-href="#/classes/{{row.id}}/exams/new?&isGroup=true" uib-tooltip="Group Exam"><fa class="fa fa-object-group fa-2x"></i></a>
	      </span>
	    </span>
	    <span ng-if="!row.is_student_verified">
	      <a ng-href="#/classes/{{row.id}}/manage_class?&verify=true" uib-tooltip="Verify Class Students"><i class="fa fa-check-square fa-2x"></i></a>
	    </span>
	  </td>
	  <td>{{row.remaining_activity}}</td>
	</tr>
      </tbody>
    </table>
  </figure>
  <div ng-if="us_jkci_classes.length > 0 && !noData">
    <div>
      <h3>Assigned classes</h3>
    </div>
    <figure class="highlight">
      <table st-table="rowCollection" class="table organisationCoursesTable">
	<thead>
	  <tr>
	    <th st-sort="firstName">Name</th>
	    <th st-sort="firstName">Sub Organisation</th>
	    <th>Email</th>
	    <th>Mobile</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="row in us_jkci_classes">
	    <td><a href="#/classes/{{row.id}}">{{row.name}}</a></td>
	    <td>{{row.organisation_name}}</td>
	    <td>{{row.email}}</td>
	    <td>{{row.mobile}}</td>
	  </tr>
	</tbody>
      </table>
    </figure>
  </div>
  <hr>
  <div class="col-md-12 padding0">
    <h2>Time Tables</h2>
    <div class="col-md-4 padding0">
      <label class="btn active btn-default" ng-repeat="calenderType in ['exams', 'time_table', 'off_class']" style="display: inline-flex;">
	<input name="cssPre" id="css1" type="radio" ng-value="calenderType" ng-model="selectedCalenderType" ng-click="reloadCalenderEvent(calenderType);">
	{{calenderType}}
      </label>
    </div>
    <div class="col-md-3 padding0">
      <select class="form-control ng-touched " ng-model="standardCalenderFilter" ng-options="standard.standard_id as standard.name for standard in org_standards" ng-change="filterCalander()">
	<option value="" >All Standards</option>
      </select>
    </div>
    <br /><br /><br /><br />
    <div class="pull-right" ng-show="loadCalenderEvent">
      <i class="fa fa-refresh fa-spin fa-2x"></i>
    </div>
    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="myCalendar" style="margin-bottom:15px;"></div> 
  </div>
</div>
