<div class="col-sm-12 padding0">
  <div class="examFilterDiv col-sm-12 padding0"> 
    <div class="col-sm-12 padding0">
      <h3>SMS</h3>
      
    </div>		  
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="col-sm-12 padding0" ng-show="!requestLoading && totalCount > 0">
    <div class="col-sm-12 padding0">
      <div class="pull-left marginT15">
	Records&nbsp;:&nbsp;<strong>{{totalCount}}</strong>
      </div>
      <div class="filterRight marginT15">
	<input type="text" ng-model="filterStudent" dl-key-code="pageChanged(1);" code="13" placeholder="Enter mobile number" ng-maxlength="10" style="width:230px;display:inline;" value="{{filterStudent}}" class="form-control" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 0">
	<button class="btn btn-primary" ng-click="pageChanged(1);"><i class="fa fa-filter"></i></button>
      </div>
    </div>
    <table st-table="rowCollection" class="table organisationCoursesTable table-striped fixLayout">
      <thead>
	<tr>
	  <th>#</th>
	  <th>Time </th>
	  <th st-sort="firstName">Type</th>
	  <th st-sort="balance">Student Name</th>
	  <th st-sort="balance">Number</th>
	  
	</tr>
      </thead>
      <tbody>
	<tr dir-paginate="row in sms_sents | toArray:false | itemsPerPage: 10" total-items="totalCount" current-page="pagination.current" pagination-id="sms_sent" ng-click="openInfo(row);">
	  <td>{{ $index+1 + ((pagination.current - 1) * 10)}}</td>
	  <td>{{row.time}}</td>
	  <td>
	    <span>{{row.obj_type}}</span> &nbsp;&nbsp;
	    <span uib-dropdown class="paddingR10">
	      <div class="btn-group" >
		<a  id="simple-dropdown" class="pointer"  uib-dropdown-toggle>
		  <i class="fa fa-info-circle"></i>
		</a>
		<ul uib-dropdown-menu aria-labelledby="simple-dropdown" class="padding10 parentInfo">
		  <li>
		    {{row.message}}
		  </li>
		</ul>
	      </div>
	    </span>
	  </td>
	  <td style="word-break: break-all;">{{row.student_name}}<span ng-if="row.is_parent"> (P)</span></td>
	  <td style="word-break: break-all;">{{row.number}}</td>
	</tr>
      </tbody>
    </table>
  </figure>
  <dir-pagination-controls class="text-center col-sm-12" on-page-change="pageChanged(newPageNumber)" pagination-id="sms_sent" ng-show="totalCount > 9"></dir-pagination-controls>
</div>


