<div style="margin:20px 0;">
  <button class="btn btn-primary" ng-print print-element-id="printResult"><i class="fa fa-print"></i> Print</button>
</div>
<div style="margin:20px 0;" id="printResult">
  <table st-table="rowCollection" class="table groupExamReportTable">
    <thead>
      <tr>
	<th ng-repeat="th in tableHead track by $index">{{th}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="trs in tableData track by $index">
	<td ng-repeat="td in trs track by $index">{{td}}</td>
      </tr>
    </tbody>
  </table>
</div>


