<div style="margin:20px 0;">
  <uib-tabset justified="true">
    <uib-tab>
      <uib-tab-heading><i class="icon-bell"></i> Exams</uib-tab-heading>
      <div ng-include src="'views/exams/grouped_exams_lists.html'"></div>
    </uib-tab>
    <uib-tab ng-attr-active="groupedExamReportTab">
      <uib-tab-heading><i class="icon-bell"></i> Results</uib-tab-heading>
      <div>
	<div grouped-exam-reports class-id="{{classId}}" exam="exam" grouped-exam-report-tab="{{groupedExamReportTab}}"></div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
