<div>
  <h3 class="" ng-if="showClassFilter">Exams</h3>
  <div class="examFilterDiv col-sm-12 marginB20 marginT20 padding0" ng-if="showFilter"> 
    <div class="pull-right">
      <div class="marginLeft10 pull-right">
	<button class="btn btn-primary"  ng-click="pageChanged(1, false);" uib-tooltip="Filter"><i class="fa fa-filter"></i></button>
	<button class="btn btn-primary"  ng-click="resetFilter();" uib-tooltip="Reset"><i class="fa fa-refresh"></i></button>
      </div>
      <div class="marginLeft10 pull-right">
	<select class="form-control ng-touched" ng-model="filterExam.filterExamStatus" ng-options="values for values in ['Published', 'Conducted', 'Verified', 'Created']">
	  <option value="">All</option>
	</select>
      </div>
      <div class="marginLeft10 pull-right">
	<select class="form-control ng-touched" ng-model="filterExam.filterExamType" ng-options="values for values in ['Single', 'Grouped']">
	  <option value="">Type</option>
	</select>
      </div>
      <div class="marginLeft10 pull-right" ng-if="showClassFilter">
	<select class="form-control ng-touched" ng-model="filterExam.filterStandard" ng-options="std.id as std.name for std in standards">
	  <option value="">Standard</option>
	</select>
      </div>
      <div class="marginLeft10 pull-right" ng-if="showClassFilter">
	<select class="form-control ng-touched" ng-model="filterExam.filterBatch" ng-options="std.id as std.name for std in batches">
	  <option value="">Batch</option>
	</select>
      </div>
    </div>
    <div class="pull-left marginT5"  ng-show="length > 0">
      <span class="" ng-show="length > 0">Records - <strong>{{totalExams}}</strong> </span>
      <span ng-show="length == 0">No data found</span>
    </div>
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="" ng-show="length > 0 && !requestLoading">
    <table st-table="rowCollection" class="table classExamsTable col-sm-12 table-striped">
      <thead>
	<tr>
	  <th st-sort="firstName">Name</th>
	  <th st-sort="birthDate">Exam Date</th>
	  <th st-sort="balance">Subject</th>	
	  <th st-sort="balance">Status</th>
	</tr>
      </thead>
      <tbody>
	<tr dir-paginate="row in exams | itemsPerPage: 10" total-items="totalExams" current-page="pagination.current" >
	  <td>
	    <i ng-if="row.is_group" class="bold fa fa-files-o fa-1x"></i>
	    <i ng-if="!row.is_group" class="bold fa fa-file-o fa-1x"></i>
	    &nbsp;&nbsp;
	    <a class="linkOverwite" href="#/classes/{{row.jkci_class_id}}/exams/{{row.id}}/show">{{row.name | capitalize}}</a>
	    <span uib-dropdown class="paddingR10" ng-if="!row.is_group">
	      <div class="btn-group" >
		<a  id="simple-dropdown" class="pointer"  uib-dropdown-toggle>
		  <i class="fa fa-info-circle"></i>
		</a>
		<ul uib-dropdown-menu aria-labelledby="simple-dropdown" class="padding10">
		  <li>
		    Marks : {{row.marks}}
		  </li>
		  <li>
		    Type : {{row.exam_type}}
		  </li>
		  <li ng-if="has_show_pay_info">
		    <span>
		      <a class="btn btn-primary" href="#/students/{{row.id}}/pay_fee" ng-if="row.remaining_fee > 0">Pay Fee</a>
		      <button class="btn btn-primary" ng-if="row.remaining_fee === 0" disabled>Pay Fee</button>
		      <a class="btn btn-primary" href="#/students/{{row.id}}/payment_info" >Payment Info</a>
		    </span> 
		  </li>
		</ul>
	      </div>
	    </span>
	  </td>
	  <td>{{row.exam_date}}</td>
	  <td>{{row.subject}}</td>
	  <td>
	    <a href="#/classes/{{row.jkci_class_id}}/exams/{{row.id}}/show" class="bold" ng-class="{'red': row.status === 'Pending'}"> 
	      {{row.status}}
	    </a>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber, true)" class="col-sm-12 text-center" ng-show="length > 0"></dir-pagination-controls>
</div>

