<div style="margin:20px 0;">
  <h2>Chapters</h2>
  
  <label ng-repeat="chapter in chapters">
    <input type="checkbox" checklist-model="selectedChapters" checklist-value="chapter.id" ng-click="getPoints();"> {{chapter.name}} <br />
  </label>
  <br />
  
  <h2>Points</h2>
  <label ng-repeat="point in chaptersPoints">
    <input type="checkbox" checklist-model="selectedPoints" checklist-value="point.id" > {{point.name}} <br />
  </label>
  
  <br /><br />
  <button ng-click="saveExamPoints();" class="btn btn-primary" >Save</button>
  <button class="btn btn-default" ng-click="goBack();">Back</button>
</div>
