<div class="col-sm-12 textLeft" style="margin:20px 0;">
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>ID</h5> </span>
    <span class="col-sm-6 paddingTop10">{{exam.id}}</span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Conducted By</h5> </span>
    <span class="col-sm-6 paddingTop10">{{exam.conducted_by}}</span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Class</h5> </span>
    <span class="col-sm-6 paddingTop10">
        <a href="#/classes/{{class_id}}">{{exam.jkci_class}}</a>
    </span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Exam Date</h5></span>
    <span class="col-sm-6 paddingTop10">{{exam.exam_date}}</span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Exam Duration</h5></span>
    <span class="col-sm-6 paddingTop10">{{exam.duration}} Min</span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Total Marks</h5></span>
    <span class="col-sm-6 paddingTop10">{{exam.marks}}</span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Is result Decleared</h5></span>
    <span class="col-sm-6 paddingTop10">{{exam.is_result_decleared || false}}</span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Is Completed</h5></span>
    <span class="col-sm-6 paddingTop10">{{exam.is_completed || false}}</span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Papers</h5></span>
    <span class="col-sm-6 paddingTop10">
      <span ng-repeat="paper in exam.documents">
	<a href="{{paper.url}}" target="_blank">{{paper.name}}</a>
      </span>
    </span>
  </div>
  <div class="col-sm-12 textLeft">
    <span class="col-sm-2"><h5>Upload paper</h5></span>
    <span class="col-sm-6 paddingTop10">
      <form name="form">
	<div class="btn btn-primary" ngf-select ng-model="file" name="file" ngf-pattern="'.pdf,.jpg,video/*'"
	     accept=".pdf,.jpg,video/*" ngf-max-size="20MB" ngf-min-height="100" 
	     ngf-resize="{width: 100, height: 100}">Select File</div>
	<span>{{fileName}}</span>
	<span ng-class="uploadMeaasgeClass" ng-if="uploadingFile">{{uploadingMessage}}</span>
	<button type="submit" ng-click="submit()" ng-if="!uploadingFile" class="btn btn-default" ng-disabled="requestLoading">Upload</button>
      </form>
    </span>
  </div>
  <div class="col-sm-12 textLeft">
    <div class="col-sm-12 paddingTop10" style="">
      <span ng-show="!exam.is_completed">
	<button class="btn btn-primary" ng-click="editExam(exam)" ng-disabled="requestLoading">Edit</button>
      </span>
      <span ng-show="!exam.create_verification">
	<button class="btn btn-primary" ng-click="verifyExam(exam)" ng-disabled="requestLoading">Verify Exam</button>
      </span>
      <span ng-show="exam.create_verification && !exam.is_completed && !exam.is_group">
	<button class="btn btn-primary" ng-click="conductExam(exam);" ng-disabled="requestLoading">Conduct Exam</button>
      </span>
      <span ng-show="!exam.is_completed">
	<button class="btn btn-primary" ng-click="deleteExam(exam);" ng-disabled="requestLoading">Remove Exam</button>
      </span>
      <span ng-if="!exam.root">
	<a href="#/classes/{{class_id}}/exams/{{exam.root_id}}/show" class="btn btn-default">Back</a>
      </span>
      <span ng-if="exam.root">
	<a href="#/exams" class="btn btn-default" ng-disabled="requestLoading">Back</a>
      </span>
    </div>
  </div>
  <div class="col-sm-12 textLeft" ng-if="exam.is_completed && exam.is_result_decleared == null  && !exam.is_group">
    <exam-catlog exam="exam" class-id="{{class_id}}">
    </exam-catlog>
  </div>
  <div class="col-sm-12 textLeft" ng-if="exam.is_completed && exam.is_result_decleared  && !exam.is_group">
    <exam-results exam="exam" class-id="{{class_id}}">
    </exam-results>
  </div>
  <div class="col-sm-12 textLeft" ng-if="exam.is_group">
    <new-group-exam exam="exam" class-id="{{class_id}}">
    </new-group-exam>
  </div>
</div>
