<div class="jumbotron col-md-12">
  <h2>eraCord</h2>
  <p>
    Class presenty chart
  </p>
  <div class="col-md-6">
    <div class="col-md-12 padding0">
      <label class="btn active btn-default pull-right" ng-repeat="chartType in ['monthly', 'weekly', 'daily']">
	<input name="cssPre" id="css1" type="radio" ng-value="selectedChartType" ng-model="selectedChartType" ng-click="reloadLineChart(chartType);">
	{{chartType}}
      </label>
    </div>
    <br /><br />
    <canvas id="line" class="chart chart-line" chart-data="data"
	    chart-labels="labels" chart-legend="true" chart-series="series"
	    chart-click="onClick" chart-colours="[ '#803690', '#00ADF9', '#46BFBD', '#FDB45C', '#949FB1', '#4D5360']">
    </canvas> 
  </div>
  <div class="col-md-6">    
    <canvas id="pie" class="chart chart-pie"
	    chart-data="sum_data" chart-labels="series">
    </canvas> 
    
  </div>
  <div class="col-md-12">
    <p>
      Exams chart
    </p>
    <div class="col-md-6">
      <canvas id="line" class="chart chart-line" chart-data="exam_data"
	      chart-labels="exam_labels" chart-legend="true" chart-series="exam_series"
	      chart-click="onClick" chart-colours="[ '#803690', '#00ADF9', '#46BFBD', '#FDB45C', '#949FB1', '#4D5360']">
      </canvas> 
    </div>
    <div class="col-md-6">    
      <canvas id="pie" class="chart chart-pie"
	      chart-data="exam_sum_data" chart-labels="exam_series">
      </canvas> 
    </div>
  </div>
</div>
