<div class="modal-header bg-primary">
  <h3 class="modal-title text-center">Allocate students</h3>
  <a ng-click="cancel()" class="textWhite" style="float: right;position: absolute;right: 15px;top: 19px;cursor:pointer;"><i class="fa fa-times"></i></a>
</div>
<div class="modal-body" style="min-height:300px;">
  <div class="col-sm-12">
    <h4>{{roomName}}</h4>
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="col-sm-12 padding0" ng-show="!requestLoading">
    <div class="assignStudentsList ">
      <label ng-repeat="student in students" class="checkBoxStyle col-md-6" ng-class="{'lightText': !student.selected && studentsList.length >= remainingCount}">
	<input id="student_{{student.id}}" type="checkbox" checklist-model="studentsList" checklist-value="student.id" ng-change="selectHostelRoom(student)" ng-disabled="!student.selected && studentsList.length >= remainingCount">
	<label for="student_{{student.id}}"></label>
	{{student.name | capitalize}}-{{student.mobile}}
      </label>
    </div>
  </figure>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="allocateStudentRoom();" ng-disabled="studentsList.length === 0">Save</button>
  <a class="btn btn-default" ng-click="cancel();">Cancel</a>
</div>
