<div style="margin:20px 0;" >
  <div>
    <h3>Hostels</h3>
  </div>
  <a href="#/hostels/new" class="btn btn-primary pull-right">Create Hostel</a>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="col-sm-12 padding0"  ng-if="hostels.length > 0" ng-show="!requestLoading">
    <table st-table="rowCollection" class="table organisationCoursesTable table-striped">
      <thead>
	<tr>
	  <th st-sort="firstName">Index</th>
	  <th st-sort="lastName">Name</th>
	  <th st-sort="lastName">Rooms</th>
	  <th st-sort="lastName">Students</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in hostels">
	  <td>{{$index+1}}</td>
	  <td>
	    <a href="#/hostels/{{row.id}}" class="linkOverwite">
	      {{row.name}}
	    </a>
	  </td>
	  <td>{{row.rooms}}</td>
	  <td>{{row.student_occupancy}}</td>
	</tr>
      </tbody>
    </table>
  </figure>
</div>
<figure class="col-sm-12 padding0 fullWidth" ng-show="!requestLoading && hostels.length  === 0" style="">
  <h4 class="text-danger">No data found</h4>
</figure>
</div>
