<div request-loading is-loading="requestLoading"></div>
<div style="margin:20px 0;" ng-show="!requestLoading">
  <div>
    <h3>Hostels</h3>
  </div>
  <a href="#/hostels/new" class="btn btn-primary pull-right">Create Hostel</a>
  <figure class="col-sm-12 padding0"  ng-if="hostels.length > 0">
    <table st-table="rowCollection" class="table organisationCoursesTable table-striped">
      <thead>
	<tr>
	  <th st-sort="firstName">Index</th>
	  <th st-sort="lastName">Name</th>
	  <th st-sort="lastName">Rooms</th>
	  <th st-sort="lastName">Students</th>
	</tr>
      </thead>
      <tbody>
	<tr ng-repeat="row in hostels">
	  <td>{{$index+1}}</td>
	  <td>
	    <a href="#/hostels/{{row.id}}" class="linkOverwite">
	      {{row.name}}
	    </a>
	  </td>
	  <td>{{row.rooms}}</td>
	  <td>{{row.student_occupancy}}</td>
	</tr>
      </tbody>
    </table>
  </figure>
</div>
<div class="alert alert-warning col-sm-12" ng-if="divisions.length  < 1">
  <span >
    No data found
  </span>
</div>
