<div class="col-md-12 col-md-offset-0">
  <h2>{{isNew ? 'New' : 'Edit'}} Hostel</h2>
</div>

<div request-loading is-loading="requestLoading"></div>
<div class="col-md-6 col-md-offset-0" ng-show="!requestLoading">
  <div ng-show="vm.hostel.error" class="alert alert-danger">{{vm.hostel.error}}</div>
  <form name="form" ng-submit="registerHostel()" role="form" autocomplete="off">
    <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" class="form-control" ng-model="vm.hostel.name" placeholder="Must be present" required />
      <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.owner.$dirty && form.owner.$error.required }">
      <label for="name">Owner</label>
      <input type="text" name="owner" id="owner" class="form-control" ng-model="vm.hostel.owner" placeholder="Must be present" required />
      <span ng-show="form.owner.$dirty && form.owner.$error.required" class="help-block">Owner is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.rooms.$dirty && form.rooms.$error.required }">
      <label for="name">Number of Rooms</label>
      <input type="text" name="rooms" id="rooms" class="form-control" ng-model="vm.hostel.rooms" ng-maxlength="10" placeholder="must be present " onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 0"/>
      <span ng-show="form.rooms.$dirty && form.name.$error.required" class="help-block">Number of is required</span>
    </div>
    <div class="form-group">
      <label for="destription">Student Occupancy</label>
      <input type="text" name="student_occupancy" id="student_occupancy" class="form-control" ng-model="vm.hostel.student_occupancy" ng-maxlength="10" placeholder="must be present " onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 0"/>
      <span ng-show="form.student_occupancy.$dirty && form.student_occupancy.$error.required" class="help-block">Student occupancy is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.average_fee.$dirty && form.average_fee.$error.required }">
      <label for="name">Average Monthly Fee</label>
      <input type="text" name="average_fee" id="average_fee" class="form-control" ng-model="vm.hostel.average_fee" ng-maxlength="10" placeholder="must be present " onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 0" required />
      <span ng-show="form.average_fee.$dirty && form.average_fee.$error.required" class="help-block">Average fee is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.months.$error.required || !vm.hostel.months}">
      <label for="name">Fee collection periods in months</label>
      <input type="number" name="months" id="months" class="form-control" ng-model="vm.hostel.months" ng-maxlength="2" placeholder="must be present" ng-max="12" required/>
      <span ng-show="!vm.hostel.months" class="help-block textRED">Max length is 12 months</span>
    </div>
    <div class="form-group" style="display:flex;">
      <label for="enable_service_tax" style="margin-top:7px;">Has service tax <span class="textRed"> *</span></label>
      <toggle-switch class="mLeft10"
		     ng-model="vm.hostel.is_service_tax"
		     knob-label="S.Tax">
      </toggle-switch>
    </div>
    <div class="form-group" ng-if="vm.hostel.is_service_tax">
      <label for="service_tax">Service Tax <span class="textRed"> *</span></label>
      <input type="text" name="service_tax" id="service_tax" class="form-control" ng-model="vm.hostel.service_tax"  placeholder="Service Tax" onkeypress="return (event.charCode >= 48 && event.charCode <= 57) || event.charCode === 0 || || event.charCode === 46"/>
    </div>
    <div class="form-actions" style="padding-bottom:20px;">
      <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
      <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <a class="btn btn-default" ng-click="goBack();">Cancel</a>
    </div>
  </form>
</div>


