<div class="col-sm-4 hostelRoom" ng-if="showRoom">
  <div class="highlight col-sm-12 padding0">
    <div class="col-sm-12 padding0">
      <span>
	<strong>{{room.name}}</strong>
      </span>
      <span>
	has  <strong>{{room.beds}} </strong> total beds
      </span>
      <a class="pointer" ng-click="allocateRoomStudent();" ng-if="unallocatedStudents > 0">Allocate Student</a>
      &nbsp;&nbsp;
      <a class="pointer" ng-click="editHostelRoom();">Edit</a>
    </div>
    <div class="col-sm-12 padding0">
      <span ng-repeat="n in [] | range:room.beds">
	<span class="bed allocatedBed" style="position: relative;min-height: 1px;" ng-class="{'isHighlight': students[n].isHighlight}" ng-if="students[n]" uib-tooltip="{{students[n].name }} - {{students[n].mobile}}">
	  <a class="dropdown-toggle" data-toggle="dropdown" href="">
	    <i class="fa fa-bed fa-2x"></i>
	  </a>
	  <ul class="dropdown-menu">
	    <li>
	      <div class="padding5">
		<span style="width:20%"><i class="fa fa-user fa-2x"></i></span>
		<span class="pull-right text-right" style="width:80%"> {{students[n].name}}</span>
		<br/>
		<span class="pull-right"> {{students[n].mobile}}</span>
	      </div>
	    </li>
	    <li><a class="pointer" ng-click="removeStudentFromHostel(students[n].id);">Remove form hostel</a></li>
	  </ul>
	</span>
	<span class="bed" ng-if="!room.students[n]">
	  <i class="fa fa-bed fa-2x"></i>
	</span>
      </span>
    </div>
  </div>
</div>
