<table class="table headerless" style="border:none; width:650px;">
  <tr class="borderless" style="border:none">
    <th class="borderless" style="width: 12.5%; border:none"></th>
    <th class="borderless" style="width: 12.5%"></th>
    <th class="borderless" style="width: 12.5%"></th>
    <th class="borderless" style="width: 12.5%"></th>
    <th class="borderless" style="width: 12.5%"></th>
    <th class="borderless" style="width: 12.5%"></th>
    <th class="borderless" style="width: 12.5%"></th>
    <th class="borderless" style="width: 12.5%"></th>
  </tr>

  <tbody style="border: solid 1px grey;">
    <tr class="text-center" style="border: none;">
      <td colspan="8" style="border: none;" class="greyBackground">
	<div class="hed">
	  <h2 class="margin0">{{data.organisation_name}}</h2>
	  <strong>
	    Payment Receipt
	  </strong>
	</div>
      </td>
    </tr>
    <tr class="text-center" >
      <td colspan="8" style="border:none;text-align:right;margin-right:20px;" class="greyBackground">
	<div class="hed">
	  <strong>Receipt No </strong> {{data.id}}
	</div>
      </td>
    </tr>
    <tr>
      <td colspan="4" style="border: solid 1px grey;">
	<strong>Paid by</strong> - {{data.student_name}}
      </td>
      <td colspan="4" style="border: solid 1px grey;">
	<strong>Paid to</strong> - {{data.organisation_name}}
      </td>
    </tr>
    <tr>
      <td colspan="4" style="border: solid 1px grey;">
	<strong>DESCRIPTION</strong>
      </td>
      <td colspan="4" style="border: solid 1px grey;">
	<strong>
	  AMOUNT 
	</strong>
	({{data.payment_type == 'cash' ? 'Cash Payment' : 'Cheque Payment'}})
      </td>
    </tr>
    <tr>
      <td colspan="4" style="border: none;">
	<strong>Name </strong> {{data.student_name}}
      </td>
      <td colspan="2" style="border: solid 1px grey;">
	<strong>Amount</strong>
      </td>
      <td colspan="2" style="border: solid 1px grey;">
	{{data.amount}}
      </td>
    </tr>
    <tr>
      <td colspan="4" style="border: none;">
	<strong>Class </strong> {{data.class_name}}
      </td>
      <td colspan="2" style="border: solid 1px grey;">
	<strong>Service Tax</strong>
      </td>
      <td colspan="2" style="border: solid 1px grey;">
	{{data.service_tax}}
      </td>
    </tr>
    <tr>
      <td colspan="4" style="border: none;">
	<strong>Pan Number </strong> {{data.pan_number}}
      </td>
      <td colspan="2" rowspan="2" style="border: solid 1px grey;">
	<strong>Total</strong>
      </td>
      <td colspan="2" rowspan="2" style="border: solid 1px grey;"> 
	{{data.amount + data.service_tax}}
      </td>
    </tr>
    <tr>
      <td colspan="4" style="border: none;">
	<strong>Tan Number </strong> {{data.tan_number}}
      </td>
    </tr>
    <tr>
      <td colspan="6" style="border: solid 1px grey;" class="greyBackground">
	<div class="foo">
	  <strong>Received by </strong> {{data.user}}
	</div>
      </td>
      <td colspan="2" style="border: solid 1px grey;" class="greyBackground">
	<div class="foo">
	  <strong>Date</strong> {{data.date}}
	</div>
      </td>
    </tr>
  </tbody>
</table>
