<div style="margin:20px 0;">
  <div class="examFilterDiv col-sm-12 padding0" ng-if="showFilter"> 
    <div class="col-sm-2 paddingLeft0">
      <label for="standard_id">Batch</label>
      <select class="form-control ng-touched" ng-model="filterAmount.batch" ng-options="std.id as std.name for std in batches">
	<option value="" class="hide" >Select Batch</option>
      </select>
    </div>
    <div class="col-sm-2 paddingLeft0">
      <label for="standard_id">Standard</label>
      <select class="form-control ng-touched" ng-model="filterAmount.standard" ng-options="std.standard_id as std.name for std in standards">
	<option value="">All Standards</option>
      </select>
    </div>
    <div class="col-sm-2 paddingLeft0">
      <label for="exam_type">Payment Type</label>
      <select class="form-control ng-touched" ng-model="filterAmount.payment_type" ng-options="values for values in ['Cash', 'Cheque']">
	<option value="">All</option>
      </select>
    </div>
    
    <div class="examFilterDiv col-sm-12 paddingLeft0 mTop15"> 
      Filter : <input type="text" ng-model="filterAmount.name" dl-key-code="pageChanged(1);" code="13" placeholder="Type name or mobile and  enter" style="width:230px;" value="{{filterAmount.name}}">
      <button class="btn btn-primary" ng-click="pageChanged(1, false);">Filter</button>
      <button class="btn btn-primary" ng-click="resetFilter();">Reset</button>
    </div>
    <div class="col-sm-12 padding0" style="margin-top:20px;" ng-show="length > 0">
      <div class="alert alert-warning">Total amount are - {{totalAmount}} &nbsp;&nbsp;&nbsp;<a href="#/accounts/graphs" class="btn btn-primary">Show Graphical </a>
	<br/><br/>
	Total service tax are - {{totalTax}}
	<br/><br/>
	Total Expected amount are (without filter) - <strong>{{expectedAmount}}</strong> &nbsp;&nbsp;&nbsp;
	<br/><br/>
	Total students are - <strong>{{totalStudents}}</strong> &nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="highlight col-sm-12" ng-show="length > 0 && !requestLoading">
    <table st-table="rowCollection" class="table classExamsTable col-sm-12" >
      <thead>
	<tr>
	  <th st-sort="firstName">Name</th>
	  <th st-sort="firstName">Class</th>
	  <th st-sort="firstName">Total Fee</th>
	  <th st-sort="firstName">Remaining Fee</th>
	  <th st-sort="firstName">Total Transactions</th>
	</tr>
      </thead>
      <tbody>
	<tr dir-paginate-start="row in payments | itemsPerPage: 10" total-items="totalPayments" current-page="pagination.current" ng-click="openInfo(row);" class="pointer">
	  <td>{{row.name}}
	    <span ng-if="row.assign_to !== ''">
	      <div class="btn-group" dropdown>
		<a  id="simple-dropdown" uib-dropdown-toggle >
		  <i class="fa fa-info-circle"></i>
		</a>
		<ul  aria-labelledby="simple-dropdown" class="padding5 dropdown-menu">
		  <li>
		    Parent Name - {{row.parent_name}}
		  </li>
		  <li>
		    Parent Mobile - {{row.p_mobile}}
		  </li>
		</ul>
	      </div>
	    </span>
	  </td>
	  <td>{{row.jkci_class}}</td>
	  <td>
	    {{row.collected_fee}}
	  </td>
	  <td>
	    {{row.remaining_fee}}
	  </td>
	  <td>
	    {{row.total_transactions}}
	  </td>
	</tr>
	<tr ng-if="row.expanded" dir-paginate-end="" class="noBorder alert alert-warning">
	  <td colspan="5">
	    
	    <table st-table="rowCollection" class="table col-sm-12">
	      <tr>
		<th st-sort="firstName">Date</th>
		<th st-sort="firstName">Amount</th>
		<th st-sort="firstName">Service Tax</th>
		<th st-sort="firstName">Payment Type</th>
		<th st-sort="firstName">Book Number</th>
		<th st-sort="firstName">Receipt Number</th>
	      </tr>
	      <tr ng-repeat="t_row in row.transactions">
		<td>
		  {{t_row.date}}
		</td>
		<td>
		  {{t_row.amount}}
		</td>
		<td>
		  {{t_row.service_tax}}
		</td>
		<td>
		  {{t_row.payment_type}}
		  <span uib-dropdown ng-if="t_row.payment_type !== 'cash'">
		    <a  id="simple-dropdown" uib-dropdown-toggle >
		      <i class="fa fa-info-circle"></i>
		    </a>
		    <ul uib-dropdown-menu aria-labelledby="simple-dropdown" class="padding5">
		      <li>
			Bank Name - {{t_row.bank_name}}
		      </li>
		      <li>
			Cheque number - {{t_row.cheque_number}}
		      </li>
		      <li>
			Cheque issue date - {{t_row.cheque_issue_date}}
		      </li>
		    </ul>
		  </span>
		</td>
		<td>
		  {{t_row.book_number}}
		</td>
		<td>
		  {{t_row.receipt_number}}
		</td>
	      </tr>
	      <tr>
		<td colspan="5">
		  <a class="btn btn-primary" href="#/students/{{row.student_id}}/pay_fee" ng-if="row.remaining_fee !== 0">Pay Fee</a>
		</td>
	      </tr>
	    </table>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-sm-12" ng-show="length > 0"></dir-pagination-controls>
  <div ng-show="length == 0 && !requestLoading" class="col-sm-12 padding0" style="margin-top:20px;">
    <div class="alert alert-warning">
      No data found
    </div>
  </div>
</div>

