<div>
  <div class="col-sm-12 padding0 row margin0">
    <h3 class="pull-left">Accounts</h3> 
    <div class="pull-right marginT20">
      <a href="#/accounts/graphs" class="btn btn-primary" uib-tooltip="Show graphical"> <i class="fa fa-line-chart"></i> </a>
      <a href="#/accounts/print_account?&filter={{filterAmount}}" class="btn btn-primary" uib-tooltip="Print"><i class="fa fa-print"></i></a>
      <a href="{{hostUrl}}/student_fees/download_excel.xlsx?&authorization_token={{token}}" class="btn btn-primary" target="_blank" uib-tooltip="Download excel"> <i class="fa fa-file-excel-o"></i></a>
      <a href="#/accounts/logs" class="btn btn-primary" uib-tooltip="Get logs"><i class="fa fa-list-alt"></i></a>
    </div>
  </div>
  <div class="examFilterDiv col-sm-12 padding0" ng-if="showFilter"> 
    <div class="col-sm-12 padding0 marginT10" ng-show="length > 0">
      <span class="col-sm-6"> Collected amount - {{totalAmount}}</span>
      <span class="col-sm-6">Service tax - {{totalTax}}</span>
      <span class="pointer col-sm-6" ng-class="{'red': isRemained}" ng-click="getRemainingStudents()" >Expected collection  amount  - <strong>{{expectedAmount}}</strong></span>
      <span class="col-sm-6">Total students - <strong>{{totalStudents}}</strong></span>
    </div>
    <div class="col-sm-12 padding0 mTop15 marginB15 accountFilter">
      <div class="col-sm-2 paddingLeft0">
	<select class="form-control ng-touched" ng-model="filterAmount.batch" ng-options="std.id as std.name for std in batches" uib-tooltip="Filter Batch">
	  <option value="" class="hide" >Select Batch</option>
	</select>
      </div>

      <div class="col-sm-2 paddingLeft0">
	<select class="form-control ng-touched" ng-model="filterAmount.standard" ng-options="std.standard_id as std.name for std in standards" uib-tooltip="Filter Standard">
	  <option value="">All</option>
	</select>
      </div>
      <div class="col-sm-2 paddingLeft0">
	<select class="form-control ng-touched" ng-model="filterAmount.payment_type" ng-options="values for values in ['Cash', 'Cheque']" uib-tooltip="Filter payment">
	  <option value="">All</option>
	</select>
      </div>
      <div class="col-sm-2 paddingLeft0">
	<input type="text" class="form-control" ng-model="filterAmount.name" dl-key-code="pageChanged(1);" code="13" placeholder="Enter name or mobile"  value="{{filterAmount.name}}">
      </div>
      <button class="btn btn-primary  marginR10" ng-click="pageChanged(1, false);"><i class="fa fa-filter"></i></button>
      <button class="btn btn-primary" ng-click="resetFilter();"><i class="fa fa-refresh"></i></button>
    </div>
      
      
      
    
  </div>
  <div request-loading is-loading="requestLoading"></div>
  <figure class="col-sm-12 padding0" ng-show="length > 0 && !requestLoading">
    <table st-table="rowCollection" class="table classExamsTable col-sm-12 table-striped" >
      <thead>
	<tr>
	  <th st-sort="firstName">Name</th>
	  <th st-sort="firstName">Class</th>
	  <th st-sort="firstName">Fee</th>
	  <th st-sort="firstName">Remaining Fee</th>
	  <th st-sort="firstName">Advances</th>
	</tr>
      </thead>
      <tbody>
	<tr dir-paginate-start="row in payments | itemsPerPage: 10" total-items="totalPayments" current-page="pagination.current" ng-click="openInfo(row);" class="pointer">
	  <td>{{row.name}} <span ng-if="row.hostel_id">&nbsp;<i class="fa fa-bed"></i></span>
	    <span ng-if="row.assign_to !== ''">
	      <div class="btn-group" dropdown>
		<a  id="simple-dropdown" uib-dropdown-toggle >
		  <i class="fa fa-info-circle"></i>
		</a>
		<ul  aria-labelledby="simple-dropdown" class="padding5 dropdown-menu">
		  <li>
		    Parent Name - {{row.parent_name}}
		  </li>
		  <li>
		    Parent Mobile - {{row.p_mobile}}
		  </li>
		  <li>
		    Parent Occupation - {{row.parent_occupation}}
		  </li>
		</ul>
	      </div>
	    </span>
	  </td>
	  <td>{{row.jkci_class}}</td>
	  <td>
	    {{row.collected_fee}}
	  </td>
	  <td>
	    {{row.remaining_fee}}
	  </td>
	  <td>
	    {{row.advances}}
	  </td>
	</tr>
	<tr ng-if="row.expanded" dir-paginate-end="" class="noBorder alert alert-warning">
	  <td colspan="7">
	    <div request-loading is-loading="row.is_loading"></div>
	    <table st-table="rowCollection" class="table col-sm-12" ng-show="!row.is_loading">
	      <tr>
		<th st-sort="firstName">Date</th>
		<th st-sort="firstName">Amount</th>
		<th st-sort="firstName">Service Tax</th>
		<th st-sort="firstName">Payment Type</th>
		<th st-sort="firstName">Book Number</th>
		<th st-sort="firstName">Receipt Number</th>
		<th st-sort="firstName">Reason</th>
		<th> Print recipt</th>
	      </tr>
	      <tr ng-repeat="t_row in row.transactions">
		<td>
		  {{t_row.date}}
		</td>
		<td>
		  {{t_row.amount}}
		</td>
		<td>
		  {{t_row.service_tax}}
		</td>
		<td>
		  {{t_row.payment_type}}
		  <span uib-dropdown ng-if="t_row.payment_type !== 'cash'">
		    <a  id="simple-dropdown" uib-dropdown-toggle >
		      <i class="fa fa-info-circle"></i>
		    </a>
		    <ul uib-dropdown-menu aria-labelledby="simple-dropdown" class="padding5">
		      <li>
			Bank Name - {{t_row.bank_name}}
		      </li>
		      <li>
			Cheque number - {{t_row.cheque_number}}
		      </li>
		      <li>
			Cheque issue date - {{t_row.cheque_issue_date}}
		      </li>
		    </ul>
		  </span>
		</td>
		<td>
		  {{t_row.book_number}}
		</td>
		<td>
		  {{t_row.receipt_number}}
		</td>
		<td>
		  {{t_row.reason}}
		</td>
		<td>
		  <a href="#/accounts/students/{{t_row.student_id}}/fee_receipt/{{t_row.id}}"><i class="fa fa-print"></i></a>
		</td>
	      </tr>
	      <tr>
		<td colspan="5">
		  <a class="btn btn-primary" href="#/students/{{row.student_id}}/show">Show</a>
		  <a class="btn btn-primary" href="#/students/{{row.student_id}}/pay_fee" ng-if="row.remaining_fee !== 0">Pay Fee</a>
		  <button class="btn btn-primary" ng-if="row.remaining_fee === 0" disabled>Pay Fee</button>
		  <a class="btn btn-primary" href="#/students/{{row.student_id}}/pay_other_fee">Pay Other Fee</a>
		</td>
	      </tr>
	    </table>
	  </td>
	</tr>
      </tbody>
    </table>
  </figure>
  <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-sm-12 text-center" ng-show="length > 0"></dir-pagination-controls>
  <div ng-show="length == 0 && !requestLoading" class="col-sm-12 padding0" style="margin-top:20px;">
    <div class="alert alert-warning">
      No data found
    </div>
  </div>
</div>

